In [1]:
#importing libraries
import selenium 
from selenium import webdriver
import pandas as pd 
import warnings 
warnings.filterwarnings('ignore')

In [4]:
#importing chromedriver
driver= webdriver.Chrome("D:\Inernship\chromedriver.exe")

In [7]:
#getting Url
url= 'https://www.naukri.com/'
driver.get(url)

In [8]:
# Finding webelement for search job bar using id
search_job= driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [9]:
# writing on search bar
search_job.send_keys("Data Analyst")

In [10]:
#Finding webelement for search Location bar using xpath
search_loc= driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input")
search_loc

In [11]:
# writing on Location bar
search_loc.send_keys('Banglore')

In [12]:
search_btn= driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")
search_btn

In [13]:
#click on search button 
search_btn.click()

In [15]:
job_title= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(job_title)

20

In [16]:
job_titles= []
for i in job_title:
    job_titles.append(i.text)
job_titles

['Senior Data Analyst',
 'Financial Data Analyst',
 'Data Analyst',
 'Business Data Analyst - Database Design/Mining',
 'Financial Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst II',
 'Senior Data Analyst II',
 'Tcs Hiring For Data Analyst / Engineers',
 'Data Analyst',
 'Data Analyst - Internal Audit',
 'Data Analyst',
 'Financial Data Analyst - Mandarin Language',
 'Global Business Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst - Python/SQL',
 'Experienced Data Analyst',
 'Financial Data Analyst']

In [30]:
# extracting job Titles
Job_Titles=job_titles[0:10]
Job_Titles

['Senior Data Analyst',
 'Financial Data Analyst',
 'Data Analyst',
 'Business Data Analyst - Database Design/Mining',
 'Financial Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst II',
 'Senior Data Analyst II',
 'Tcs Hiring For Data Analyst / Engineers']

In [21]:
company_name= driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_name)

20

In [27]:
# extracting Names
company_names=[]
for i in company_name:
    company_names.append(i.text)
Company_Names=company_names[0:10]
Company_Names

['Schneider Electric',
 "Moody's",
 'WEIWO Communication Pvt. Ltd.',
 'AugmatrixGo',
 "Moody's",
 'Spectraforce Technologies',
 'Flipkart',
 'Flipkart',
 'Flipkart',
 'Tata Consultancy Services Ltd.']

In [19]:
job_loc= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(job_loc)

20

In [32]:
# extracting location
job_locs= []
for i in job_loc:
    job_locs.append(i.text)
Job_Locs= job_locs[0:10]
Job_Locs

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Ulsoor)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru, Delhi / NCR']

In [24]:
job_exp= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(job_exp)

20

In [33]:
# extracting Experience
job_exps=[]
for i in job_exp:
    job_exps.append(i.text)
Job_Exps= job_exps[0:10]
Job_Exps

['0-2 Yrs',
 '0-2 Yrs',
 '2-7 Yrs',
 '2-5 Yrs',
 '0-2 Yrs',
 '5-10 Yrs',
 '2-3 Yrs',
 '3-7 Yrs',
 '5-7 Yrs',
 '4-9 Yrs']

In [35]:
# Finding length
print(len(Job_Titles), len(Company_Names), len(Job_Exps), len(Job_Locs))

10 10 10 10

In [40]:
# Creating DataFrame
job= pd.DataFrame({'Job_Title':Job_Titles,'Location': Job_Locs, 'Company_Name':Company_Names, 'Experience_Requrired':Job_Exps })
job

,Job_Title,Location,Company_Name,Experience_Requrired
0,Senior Data Analyst,Bangalore/Bengaluru,Schneider Electric,0-2 Yrs
1,Financial Data Analyst,Bangalore/Bengaluru,Moody's,0-2 Yrs
2,Data Analyst,Bangalore/Bengaluru(Ulsoor),WEIWO Communication Pvt. Ltd.,2-7 Yrs
3,Business Data Analyst - Database Design/Mining,Bangalore/Bengaluru,AugmatrixGo,2-5 Yrs
4,Financial Data Analyst,Bangalore/Bengaluru,Moody's,0-2 Yrs
5,Senior Data Analyst,Bangalore/Bengaluru,Spectraforce Technologies,5-10 Yrs
6,Senior Data Analyst,Bengaluru/Bangalore,Flipkart,2-3 Yrs
7,Senior Data Analyst II,Bengaluru/Bangalore,Flipkart,3-7 Yrs
8,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,5-7 Yrs
9,Tcs Hiring For Data Analyst / Engineers,"Pune, Bangalore/Bengaluru, Delhi / NCR",Tata Consultancy Services Ltd.,4-9 Yrs

# 2-Data Scientist

In [49]:
#importing chromedriver
driver= webdriver.Chrome("D:\Inernship\chromedriver.exe")

In [50]:
#getting Url
url= 'https://www.naukri.com/'
driver.get(url)

In [51]:
#search bar
search_job= driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [52]:
#writing on search bar
search_job.send_keys('Data Scientist')

In [53]:
#finding job location bar
search_loc= driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
search_loc

In [54]:
# setting banglore location
search_loc.send_keys('Bangalore')

In [55]:
search_btn= driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn

In [57]:
#click on search button
search_btn.click()

In [60]:
# extracting job Titles
job_titles=[]
for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
    job_titles.append(i.text)
job_titles= job_titles[0:10]
job_titles

['Global Tax Automation & Operations | Data Scientist Senior Analyst',
 'Lead Data Scientist',
 'Sr Applied Data Scientist',
 'Senior Risk Data Scientist',
 'Senior Risk Data Scientist',
 'Conducting virtual drive on 8th Jan For Data Scientists',
 'Principal Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Associate - Data Scientist']

In [61]:
# extracting location
job_locs= []
for i in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]'):
    job_locs.append(i.text)
job_locs= job_locs[0:10]
job_locs

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru\n(WFH during Covid)']

In [62]:
#extracting companies names
company_names= []
for i in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'):
    company_names.append(i.text)
company_names= company_names[0:10]
company_names

['Dell International Services India Private Limited',
 'First American Corporation',
 'Tesco Bengaluru',
 'GSK India',
 'GSK India',
 'Pluto seven business solutions (p) limited',
 'Narayana Heath',
 'ELPIS IT SOLUTIONS PVT LTD',
 'Narayana Health',
 'Paonta Valley LLP']

In [66]:
# Finding length
print(len(job_titles), len(job_locs), len(company_names))

10 10 10

In [67]:
# Creating DataFrame
jobs= pd.DataFrame({'Job_Title':job_titles, 'Locations':job_locs, 'Company_Name':company_names})
jobs

,Job_Title,Locations,Company_Name
0,Global Tax Automation & Operations | Data Scie...,Bangalore/Bengaluru,Dell International Services India Private Limited
1,Lead Data Scientist,Bangalore/Bengaluru,First American Corporation
2,Sr Applied Data Scientist,Bangalore/Bengaluru,Tesco Bengaluru
3,Senior Risk Data Scientist,Bangalore/Bengaluru,GSK India
4,Senior Risk Data Scientist,Bangalore/Bengaluru,GSK India
5,Conducting virtual drive on 8th Jan For Data S...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Pluto seven business solutions (p) limited
6,Principal Data Scientist,Bangalore/Bengaluru,Narayana Heath
7,Data Scientist,Bangalore/Bengaluru,ELPIS IT SOLUTIONS PVT LTD
8,Data Scientist,Bangalore/Bengaluru,Narayana Health
9,Senior Associate - Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru\n(...",Paonta Valley LLP

# 3 Data Scientits (Delhi/NCR)

In [98]:
#importing chromedriver
driver= webdriver.Chrome("D:\Inernship\chromedriver.exe")

In [99]:
#getting Url
url= 'https://www.naukri.com/'
driver.get(url)

In [100]:
 #search bar
search_job= driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [101]:
#writing on search bar
search_job.send_keys('Data Scientist')

In [102]:
search_btn= driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn

In [103]:
#click on search button
search_btn.click()

In [104]:
#using location filter
loc_check= driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p')
loc_check

In [105]:
loc_check.click()

In [106]:
# using salary filter
salary_check= driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p')
salary_check

In [107]:
salary_check.click()

In [108]:
# extracting job Titles
job_title= []
for i in driver.find_elements_by_xpath('//a[@class= "title fw500 ellipsis"]'):
    job_title.append(i.text)
job_titles= job_title[0:10]
job_titles

['Openings For Jr/mid/Sr level data Scientists',
 'DATA SCIENTIST',
 'Urgent Hiring For Data Scientist',
 'Urgent Hiring For Data Scientist',
 'Data Scientist',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - DARPG, New Delhi',
 'Data Scientist Internship']

In [109]:
# extracting location
job_loc= []
for i in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]'):
    job_loc.append(i.text)
job_locs= job_loc[0:10]
job_locs

['Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Chennai',
 'Noida, New Delhi, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Delhi / NCR',
 'New Delhi']

In [112]:
#extracting companies names
company_name=[]
for i in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'):
    company_name.append(i.text)
company_names= company_name[0:10]
company_names

['Pluto seven business solutions (p) limited',
 'I Tech Analytic Solutions',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Teleperformance',
 'GABA Consultancy services',
 'WNS India',
 'WNS India',
 'NISG (National Institute for Smart Government)',
 'iHackers Inc']

In [114]:
# extracting experiance data
exp_req= []
for i in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]'):
    exp_req.append(i.text)
exp_req= exp_req[0:10]
exp_req

['2-6 Yrs',
 '2-5 Yrs',
 '1-6 Yrs',
 '1-6 Yrs',
 '4-9 Yrs',
 '0-0 Yrs',
 '3-6 Yrs',
 '3-7 Yrs',
 '3-8 Yrs',
 '0-1 Yrs']

In [115]:
# Finding length
print(len(job_titles), len(job_locs), len(company_names), len(exp_req))

10 10 10 10

In [118]:
#Making DataFrame
jobs= pd.DataFrame({'Job_Title':job_titles, 'Location':job_locs, 'Company_Name':company_names, 'Experience_Required':exp_req})
jobs

,Job_Title,Location,Company_Name,Experience_Required
0,Openings For Jr/mid/Sr level data Scientists,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Pluto seven business solutions (p) limited,2-6 Yrs
1,DATA SCIENTIST,Noida,I Tech Analytic Solutions,2-5 Yrs
2,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
3,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
4,Data Scientist,"Gurgaon/Gurugram, Chennai",Teleperformance,4-9 Yrs
5,Data Analyst / Data Scientist / Business Analy...,"Noida, New Delhi, Delhi / NCR",GABA Consultancy services,0-0 Yrs
6,Data Scientist,Gurgaon/Gurugram,WNS India,3-6 Yrs
7,Data Scientist,Gurgaon/Gurugram,WNS India,3-7 Yrs
8,"Data Scientist - DARPG, New Delhi",Delhi / NCR,NISG (National Institute for Smart Government),3-8 Yrs
9,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs

# 4- flipkart.com (Sunglasses)

In [2]:
#importing chromedriver
driver= webdriver.Chrome("D:\Inernship\chromedriver.exe")

In [3]:
#getting Url
url= 'https://www.flipkart.com/'
driver.get(url)

In [4]:
 #search bar
search_bar= driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input') 
search_bar

In [5]:
#writing on search bar
search_bar.send_keys('Sunglasses')

In [8]:
search_btn= driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_btn

In [9]:
#click on search button
search_btn.click()

In [10]:
# Page 1 

a= []
for i in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):     #brand
    a.append(i.text)
print(len(a))
    
x=[]
for j in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):        #product_description
    x.append(j.text)
print(len(x))

p= []
for k in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):     #price
    p.append(k.text)
print(len(p))

40
40
40

In [11]:
next_btn= driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_btn

In [12]:
next_btn.click()

In [13]:
# Page 2

b= []
for i in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):      #brand   
    b.append(i.text)
print(len(b))    
    
y=[]
for j in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):         #product_description
    y.append(j.text)
print(len(y))

q= []
for k in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):      #price
    q.append(k.text)
print(len(q))

40
40
40

In [14]:
next_btn= driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next_btn

In [15]:
next_btn.click()

In [16]:
# Page 3

c= []
for i in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):      #brand
    c.append(i.text)
c= c[0:20]
print(len(c))    
    
z=[]
for j in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):         #product_description
    z.append(j.text)
z= z[0:20]
print(len(z))

r= []
for k in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):       #price
    r.append(k.text)
r= r[0:20]
print(len(r))

20
20
20

In [17]:
# combines the all 3 pages data
brand= a+b+c

In [18]:
# combines the all 3 pages data
product_description= x+y+z

In [19]:
# combines the all 3 pages data
price= p+q+r

In [20]:
# Finding length
print(len(brand), len(product_description), len(price))

100 100 100

In [21]:
pd.set_option('display.max_rows', None)

In [22]:
#Making DataFrame
sunglasses= pd.DataFrame({'Brand': brand, 'Product_Description':product_description, 'Price':price})
sunglasses

,Brand,Product_Description,Price
0,SRPM,UV Protection Wayfarer Sunglasses (56),₹188
1,kingsunglasses,UV Protection Round Sunglasses (54),₹188
2,Elligator,UV Protection Round Sunglasses (54),₹248
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759
4,PIRASO,UV Protection Aviator Sunglasses (54),₹200
5,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹165
6,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹259
7,PIRASO,UV Protection Aviator Sunglasses (54),₹200
8,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹474
9,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",₹262
10,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹271
11,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹383
12,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (53)",₹274
13,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹309
14,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹181
15,PIRASO,UV Protection Wayfarer Sunglasses (32),₹190
16,ROYAL SON,Mirrored Aviator Sunglasses (55),₹359
17,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹348
18,Johaena,"Riding Glasses, UV Protection Oval Sunglasses ...",₹156
19,kingsunglasses,"UV Protection, Riding Glasses, Mirrored Wayfar...",₹187
20,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹299
21,Rich Club,UV Protection Round Sunglasses (50),₹355
22,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹243
23,ROYAL SON,UV Protection Rectangular Sunglasses (58),₹449
24,Lee Topper,"Riding Glasses, Night Vision Wrap-around Sungl...",₹276
25,Elligator,UV Protection Round Sunglasses (53),₹179
26,PIRASO,UV Protection Aviator Sunglasses (58),₹299
27,kingsunglasses,"UV Protection, Night Vision Wayfarer Sunglasse...",₹273
28,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹349
29,Fastrack,UV Protection Shield Sunglasses (Free Size),₹789
30,agera,Gradient Aviator Sunglasses (55),₹196
31,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,089"
32,Singco India,"Riding Glasses, UV Protection, Others Aviator ...",₹201
33,Rich Club,Polarized Round Sunglasses (48),₹165
34,PIRASO,UV Protection Aviator Sunglasses (54),₹200
35,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹289
36,hipe,"Mirrored, Gradient, UV Protection Aviator Sung...",₹178
37,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹299
38,PIRASO,UV Protection Butterfly Sunglasses (65),₹349
39,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹202
40,PIRASO,UV Protection Aviator Sunglasses (54),₹200
41,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹289
42,Fastrack,UV Protection Wayfarer Sunglasses (55),₹549
43,hipe,"UV Protection, Gradient, Mirrored, Riding Glas...",₹209
44,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹360
45,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹169
46,GANSTA,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹209
47,ROYAL SON,Mirrored Aviator Sunglasses (55),₹359
48,kingsunglasses,UV Protection Rectangular Sunglasses (Free Size),₹192
49,hipe,UV Protection Sports Sunglasses (Free Size),₹287
50,Elligator,"UV Protection Retro Square, Round Sunglasses (54)",₹291
51,Elligator,UV Protection Round Sunglasses (54),₹265
52,SUNBEE,"UV Protection, Polarized, Mirrored Wayfarer Su...",₹276
53,New Specs,UV Protection Round Sunglasses (Free Size),₹233
54,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹246
55,ROZZETTA CRAFT,"Mirrored, UV Protection Round Sunglasses (Free...",₹360
56,maxa,"UV Protection, Riding Glasses Rectangular, Way...",₹144
57,Lee Topper,"UV Protection, Riding Glasses Retro Square, Sp...",₹375
58,Elligator,UV Protection Round Sunglasses (55),₹239
59,ROYAL SON,Mirrored Aviator Sunglasses (Free Size),₹359
60,ROZZETTA CRAFT,UV Protection Round Sunglasses (Free Size),₹426
61,PHENOMENAL,"UV Protection, Mirrored Clubmaster Sunglasses ...",₹287
62,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹659
63,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759
64,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹258
65,Fastrack,UV Protection Round Sunglasses (55),₹899
66,Rich Club,Polarized Round Sunglasses (48),₹163
67,ROYAL SON,Mirrored Aviator Sunglasses (58),₹359
68,ROYAL SON,UV Protection Retro Square Sunglasses (58),₹449
69,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹261
70,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹426
71,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹203
72,Lee Topper,UV Protection Round Sunglasses (Free Size),₹244
73,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),₹270
74,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹599
75,Silver Kartz,UV Protection Oval Sunglasses (56),₹284
76,kingsunglasses,"UV Protection, Mirrored Aviator Sunglasses (Fr...",₹235
77,Rich Club,"UV Protection, Others Round Sunglasses (48)",₹216
78,Rich Club,UV Protection Round Sunglasses (48),₹250
79,Elligator,"UV Protection Round, Oval Sunglasses (54)",₹266
80,kingsunglasses,"Mirrored, UV Protection Aviator Sunglasses (56)",₹211
81,SRPM,UV Protection Wayfarer Sunglasses (53),₹207
82,Poloport,UV Protection Wayfarer Sunglasses (Free Size),₹236
83,Fravy,"UV Protection, Gradient, Night Vision Retro Sq...",₹245
84,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (Free Size),₹319
85,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹459
86,hipe,"Mirrored, Gradient, Riding Glasses Round Sungl...",₹189
87,kingsunglasses,"UV Protection, Mirrored Round Sunglasses (54)",₹211
88,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹789
89,SUNBEE,"UV Protection, Polarized, Mirrored Wayfarer Su...",₹258
90,kingsunglasses,"UV Protection, Others Round, Aviator Sunglasse...",₹189
91,Flizz,"UV Protection, Polarized Rectangular Sunglasse...",₹244
92,PHENOMENAL,UV Protection Clubmaster Sunglasses (Free Size),₹287
93,hipe,"UV Protection, Gradient, Mirrored, Riding Glas...",₹189
94,Rich Club,UV Protection Round Sunglasses (50),₹355
95,povty,UV Protection Retro Square Sunglasses (Free Size),₹319
96,kingsunglasses,UV Protection Rectangular Sunglasses (55),₹169
97,PIRASO,UV Protection Aviator Sunglasses (54),₹200
98,DEIXELS,"Polarized, UV Protection, Riding Glasses Wayfa...",₹236
99,Fastrack,UV Protection Wayfarer Sunglasses (54),₹689

# 5 iphone 11

In [67]:
import time

In [83]:
#importing chromedriver
driver= webdriver.Chrome("D:\Inernship\chromedriver.exe")
driver

In [84]:
#getting Url
url= 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.'
driver.get(url)

In [87]:
nxt_btn= driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[7]/div/div/div[5]/div/a/div')
nxt_btn

In [88]:
#click on next button
nxt_btn.click()

In [89]:
# Extracting Data
rating=[]  #empty list
review_summary=[]   #empty list
full_review=[] #empty list


for i in range(0,11):   #chossing top 10 pages
    for j in driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]'):   #Rating
        rating.append(j.text)
    for l in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):      #Review_summary
        review_summary.append(l.text)
    for c in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]'):   #Detail_summary
        full_review.append(c.text)
    driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()      #next page
    time.sleep(5)


driver.close()
#selecting top 100 
rating=rating[:100]
review_summary=rsum[:100]
full_review=fsum[:100]


#Making DataFrame
review_data=pd.DataFrame({})
review_data["Rating"]=rating
review_data["Review_Summary"]=review_summary
review_data["Full_Review"]=full_review
review_data

,Rating,Review_Summary,Full_Review
0,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
1,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
2,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
3,5,Classy product,Totally in love with this ❤ the camera quality...
4,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
5,5,Highly recommended,It's my first time to use iOS phone and I am l...
6,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
7,4,Simply awesome,"Excellent camera, good performance, no lag. Th..."
8,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
9,5,Worth every penny,It’s been almost a month since I have been usi...
10,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
11,5,Simply awesome,Really satisfied with the Product I received.....
12,5,Best in the market!,Great iPhone very snappy experience as apple k...
13,5,Perfect product!,Amazing phone with great cameras and better ba...
14,5,Worth every penny,Previously I was using one plus 3t it was a gr...
15,5,Fabulous!,This is my first iOS phone. I am very happy wi...
16,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
17,5,Good choice,So far it’s been an AMAZING experience coming ...
18,5,Highly recommended,What a camera .....just awesome ..you can feel...
19,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
20,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
21,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
22,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
23,5,Classy product,Totally in love with this ❤ the camera quality...
24,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
25,5,Highly recommended,It's my first time to use iOS phone and I am l...
26,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
27,4,Simply awesome,"Excellent camera, good performance, no lag. Th..."
28,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
29,5,Worth every penny,It’s been almost a month since I have been usi...
30,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
31,5,Simply awesome,Really satisfied with the Product I received.....
32,5,Best in the market!,Great iPhone very snappy experience as apple k...
33,5,Perfect product!,Amazing phone with great cameras and better ba...
34,5,Worth every penny,Previously I was using one plus 3t it was a gr...
35,5,Fabulous!,This is my first iOS phone. I am very happy wi...
36,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
37,5,Good choice,So far it’s been an AMAZING experience coming ...
38,5,Highly recommended,What a camera .....just awesome ..you can feel...
39,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
40,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
41,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
42,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
43,5,Classy product,Totally in love with this ❤ the camera quality...
44,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
45,5,Highly recommended,It's my first time to use iOS phone and I am l...
46,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
47,4,Simply awesome,"Excellent camera, good performance, no lag. Th..."
48,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
49,5,Worth every penny,It’s been almost a month since I have been usi...
50,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
51,5,Simply awesome,Really satisfied with the Product I received.....
52,5,Best in the market!,Great iPhone very snappy experience as apple k...
53,5,Perfect product!,Amazing phone with great cameras and better ba...
54,5,Worth every penny,Previously I was using one plus 3t it was a gr...
55,5,Fabulous!,This is my first iOS phone. I am very happy wi...
56,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
57,5,Good choice,So far it’s been an AMAZING experience coming ...
58,5,Highly recommended,What a camera .....just awesome ..you can feel...
59,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
60,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
61,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
62,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
63,5,Classy product,Totally in love with this ❤ the camera quality...
64,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
65,5,Highly recommended,It's my first time to use iOS phone and I am l...
66,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
67,4,Simply awesome,"Excellent camera, good performance, no lag. Th..."
68,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
69,5,Worth every penny,It’s been almost a month since I have been usi...
70,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
71,5,Simply awesome,Really satisfied with the Product I received.....
72,5,Best in the market!,Great iPhone very snappy experience as apple k...
73,5,Perfect product!,Amazing phone with great cameras and better ba...
74,5,Worth every penny,Previously I was using one plus 3t it was a gr...
75,5,Fabulous!,This is my first iOS phone. I am very happy wi...
76,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
77,5,Good choice,So far it’s been an AMAZING experience coming ...
78,5,Highly recommended,What a camera .....just awesome ..you can feel...
79,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
80,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
81,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
82,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
83,5,Classy product,Totally in love with this ❤ the camera quality...
84,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
85,5,Highly recommended,It's my first time to use iOS phone and I am l...
86,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
87,4,Simply awesome,"Excellent camera, good performance, no lag. Th..."
88,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
89,5,Worth every penny,It’s been almost a month since I have been usi...
90,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
91,5,Simply awesome,Really satisfied with the Product I received.....
92,5,Best in the market!,Great iPhone very snappy experience as apple k...
93,5,Perfect product!,Amazing phone with great cameras and better ba...
94,5,Worth every penny,Previously I was using one plus 3t it was a gr...
95,5,Fabulous!,This is my first iOS phone. I am very happy wi...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,5,Good choice,So far it’s been an AMAZING experience coming ...
98,5,Highly recommended,What a camera .....just awesome ..you can feel...
99,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."

# 6. flipkart.com (Sneakers)

In [2]:
#importing chromedriver
driver= webdriver.Chrome("D:\Inernship\chromedriver.exe")
driver

In [3]:
#getting Url
url= 'https://www.flipkart.com/'
driver.get(url)

In [4]:
 #search bar
search_bar= driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_bar

In [5]:
#writing on search bar
search_bar.send_keys('Sneakers')

In [6]:
search_btn= driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [7]:
#click on search button
search_btn.click()

In [8]:
# Page 1 

a= []
for i in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):    #brand
    a.append(i.text)
print(len(a))
    
x=[]
for j in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):     #product description  
    x.append(j.text)
print(len(x))

p= []
for k in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):    # price
    p.append(k.text)
print(len(p))

40
31
40

In [9]:
next_btn= driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_btn

In [10]:
#click on next button
next_btn.click()

In [11]:
# Page 2

b= []
for i in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):     #brand
    b.append(i.text)
print(len(b))    
    
y=[]
for j in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):      # product description
    y.append(j.text)
print(len(y))

q= []
for k in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):  # price 
    q.append(k.text)
print(len(q))

40
31
40

In [12]:
next_btn= driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_btn

In [13]:
#click on next button
next_btn.click()

In [14]:
# Page 3

c= []
for i in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):       #brand
    c.append(i.text)
c= c[0:20]
print(len(c))    
    
z=[]
for j in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):      # product description    
    z.append(j.text)
z= z[0:20]
print(len(z))

r= []
for k in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):    # product description
    r.append(k.text)
r= r[0:20]
print(len(r))

20
20
20

In [15]:
# combines the all 3 pages data
brand= a+b+c

In [16]:
# combines the all 3 pages data
product_description= x+y+z

In [17]:
# combines the all 3 pages data
price= p+q+r

In [19]:
# Finding length
print(len(brand), len(price), len(product_description))

100 100 82

In [ ]:
#In question 6 skip description for now, will explain you this thing in exception handling.
# I got this response from ticket, so I didn't scrap data for product description.

In [21]:
pd.set_option('display.max_rows', None)

In [22]:
#Making DataFrame
sneakers= pd.DataFrame({'Brand': brand, 'Price':price})
sneakers

                  Brand   Price
0              URBANBOX    ₹220
1              Magnolia    ₹398
2        luxury fashion    ₹449
3                Labbin    ₹499
4          Stefano Rads    ₹242
5               Numenzo    ₹499
6             Trendmode    ₹359
7            Shoes Bank    ₹331
8                Extoes    ₹948
9            D-SNEAKERZ    ₹348
10            SCATCHITE    ₹398
11             ASTEROID    ₹499
12                Pieds    ₹449
13             HOTSTYLE    ₹298
14                Arohi    ₹398
15      ganpati traders    ₹189
16              Numenzo    ₹407
17         Robbie jones    ₹474
18                   TR    ₹599
19             ASTEROID    ₹499
20               Rzisbo    ₹574
21               Kraasa    ₹499
22                BIRDE    ₹299
23                CLYMB    ₹649
24                 PUMA  ₹2,999
25               Kraasa    ₹499
26                SPARX    ₹799
27                Jabra    ₹499
28             RapidBox    ₹640
29  World Wear Footwear    ₹199
30              ESSENCE    ₹399
31                Echor    ₹499
32               RINDAS    ₹298
33               BRUTON    ₹379
34            India hub    ₹449
35         Robbie jones    ₹499
36         Robbie jones    ₹451
37             RapidBox    ₹630
38              Lee Won    ₹299
39     Absolute comfort    ₹236
40               Kraasa    ₹555
41                 aadi    ₹399
42                SPARX    ₹920
43              believe    ₹599
44             RapidBox    ₹680
45             Kreverse    ₹259
46            India hub    ₹429
47         K- FOOTLANCE    ₹489
48               VENDOZ    ₹498
49                 HRDK    ₹367
50                BIRDE    ₹599
51                Echor    ₹499
52               Xentex    ₹599
53                Jabra    ₹499
54         Robbie jones    ₹474
55        WHITE WALKERS    ₹599
56        RODDICK SHOES    ₹499
57               RINDAS    ₹438
58          MILESWALKER    ₹448
59                Xtoon    ₹499
60                SPARX    ₹799
61               Xentex    ₹494
62                Zorth    ₹499
63             LE GREEM    ₹449
64            Deals4you    ₹427
65               BRUTON    ₹592
66  World Wear Footwear    ₹599
67              Airland    ₹190
68             Vellinto    ₹749
69                SPARX    ₹800
70                ASIAN    ₹499
71                  HOC    ₹429
72              Dizzler    ₹495
73             KANEGGYE    ₹399
74              ESSENCE    ₹399
75                OMIKA    ₹399
76               BRUTON    ₹341
77                Echor    ₹386
78               FEWROK    ₹429
79             RapidBox    ₹630
80         K' Footlance    ₹449
81            Creattoes    ₹288
82                 Qtsy    ₹279
83                 PUMA  ₹3,892
84             Next INN    ₹445
85               Kzaara    ₹399
86        WHITE WALKERS    ₹599
87                SPARX    ₹739
88           Alishtezia    ₹424
89            TWIN TOES    ₹399
90             PEHANOSA    ₹449
91                ALiVE    ₹710
92                ASIAN    ₹999
93               BRUTON    ₹312
94            Deals4you    ₹499
95                 Eliq    ₹233
96                ASIAN  ₹1,149
97               BRUTON    ₹359
98              Numenzo    ₹499
99                ASIAN    ₹499

# 7- myntra/shoes

In [41]:
#importing chromedriver
driver= webdriver.Chrome("D:\Inernship\chromedriver.exe")
driver

In [42]:
#getting Url
url= 'https://www.myntra.com/shoes'
driver.get(url)

In [43]:
price_filter= driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_filter

In [44]:
price_filter.click()

In [45]:
color_filter= driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
color_filter

In [46]:
color_filter.click()

In [59]:
# Page 1 

a= []
for i in driver.find_elements_by_xpath('//h3[@class="product-brand"]'):      #product brand
    a.append(i.text)
print(len(a))
    
x=[]
for j in driver.find_elements_by_xpath('//h4[@class="product-product"]'):    #product description 
    x.append(j.text)
print(len(x))

p= []
for k in driver.find_elements_by_xpath('//div[@class="product-price"]'):     #product price
    p.append(k.text)
print(len(p))

50
50
50

In [49]:
next_btn= driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]")
next_btn

In [50]:
#click on next button
next_btn.click()

In [51]:
# Page 2

b= []
for i in driver.find_elements_by_xpath('//h3[@class="product-brand"]'):
    b.append(i.text)
print(len(b))    
    
y=[]
for j in driver.find_elements_by_xpath('//h4[@class="product-product"]'):
    y.append(j.text)
print(len(y))

q= []
for k in driver.find_elements_by_xpath('//div[@class="product-price"]'):
    q.append(k.text)
print(len(q))

50
50
50

In [52]:
# combines the all 2 pages data
brand= a+b

In [53]:
# combines the all 2 pages data
product_description= x+y

In [54]:
# combines the all 2 pages data
price= p+q

In [55]:
# Finding length
print(len(brand), len(price), len(product_description))

100 100 100

In [56]:
pd.set_option('display.max_rows', None)

In [57]:
#Making DataFrame
sneakers= pd.DataFrame({'Brand': brand, 'Product_Description':product_description, 'Price':price})
sneakers

,Brand,Product_Description,Price
0,Puma,Men Running Shoes,Rs. 7149Rs. 12999(45% OFF)
1,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999
2,Puma,Men Magnify Nitro Running,Rs. 8449Rs. 12999(35% OFF)
3,Puma,Women Magnify Nitro Shoes,Rs. 8449Rs. 12999(35% OFF)
4,Saint G,Men Mid-Top Chelsea Boots,Rs. 9810Rs. 10900(10% OFF)
5,Calvin Klein,Men Solid Suede Sneakers,Rs. 7999
6,RARE RABBIT,Men Leather Flat Boots,Rs. 7999Rs. 9999(20% OFF)
7,MANGO,Women WovenDesign Sports Shoes,Rs. 7191Rs. 7990(10% OFF)
8,DAVINCHI,Men Solid Leather Formal Derbys,Rs. 8990
9,Bugatti,Men Textured Leather High-Top Flat Boots,Rs. 8399Rs. 11999(30% OFF)
10,Bugatti,Men Running Shoes,Rs. 7999Rs. 9999(20% OFF)
11,Bugatti,Men Black Walking Shoes,Rs. 7199Rs. 8999(20% OFF)
12,Saint G,Women Leather Heeled Boots,Rs. 13410Rs. 14900(10% OFF)
13,ASICS,Men Colourblocked PU Sneakers,Rs. 9999
14,Geox,Men Leather Flat Boots,Rs. 8399Rs. 11999(30% OFF)
15,J.FONTINI,Men Textured Leather Loafers,Rs. 7990
16,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
17,RARE RABBIT,Men Textured Leather Loafers,Rs. 7149Rs. 10999(35% OFF)
18,Heel & Buckle London,Men Formal Leather Derby,Rs. 7990
19,MANGO,Women Leather Penny Loafers,Rs. 7191Rs. 7990(10% OFF)
20,Saint G,Suede High-Top Flatform Heeled Boots,Rs. 12150Rs. 13500(10% OFF)
21,Saint G,Leather Platform Heeled Boots,Rs. 9810Rs. 10900(10% OFF)
22,Saint G,Embellished Leather Block Heeled Boots,Rs. 9546Rs. 12900(26% OFF)
23,Geox,Women Leather Pumps,Rs. 8999
24,Puma,Women Velocity NITRO Runners,Rs. 7699Rs. 10999(30% OFF)
25,Columbia,PEAKFREAK OUTDRY Trekking Shoe,Rs. 9999
26,Tommy Hilfiger,Women Hybrid Leather Sneakers,Rs. 7999
27,Cole Haan,Men GENERATION ZEROGRAND STITCHLITE,Rs. 11999
28,Xtep,Men Running Shoes,Rs. 7699
29,J.FONTINI,Men Textured Leather Loafers,Rs. 7990
30,J.FONTINI,Men Black Leather Loafers,Rs. 8490
31,Geox,Men Leather Loafers,Rs. 9999
32,Geox,Women Solid Leather Pumps,Rs. 7999
33,DAVINCHI,Ustraa black,Rs. 8990
34,DAVINCHI,Men Formal Leather Slip-Ons,Rs. 8990
35,Geox,Women Solid Leather Pumps,Rs. 10990
36,Pavers England,Men Leather Driving Shoes,Rs. 7499
37,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
38,Saint G,Men Leather Chelsea Boots,Rs. 10710Rs. 11900(10% OFF)
39,Geox,Men Leather Formal Derbys,Rs. 8399Rs. 11999(30% OFF)
40,Cole Haan,Women Open Toe Flats,Rs. 11999
41,Geox,Women Solid Leather Ballerinas,Rs. 8999
42,Cole Haan,Women Solid Leather Ballerinas,Rs. 13999
43,DAVINCHI,Men Textured Leather Formal Slip-Ons,Rs. 8990
44,Saint G,Leather Wedge Heeled Boots with Buckles,Rs. 13410Rs. 14900(10% OFF)
45,Saint G,Leather Block Heeled Boots,Rs. 8550Rs. 9500(Rs. 950 OFF)
46,Saint G,Leather Kitten Heeled Boots,Rs. 8910Rs. 9900(Rs. 990 OFF)
47,Saint G,Leather Block Heeled Boots with Bows,Rs. 12510Rs. 13900(10% OFF)
48,Saint G,Suede Party High-Top Block Heeled Boots,Rs. 9450Rs. 10500(10% OFF)
49,Saint G,Textured Leather Party Kitten Heeled Boots,Rs. 11954Rs. 13900(14% OFF)
50,Saint G,Textured Leather Party Kitten Heeled Boots,Rs. 11954Rs. 13900(14% OFF)
51,Pavers England,Men Textured Leather Formal Slip-On Shoes,Rs. 9999
52,Pavers England,Men Solid Leather Formal Loafers,Rs. 7999
53,Saint G,Leather Boots with Buckles,Rs. 8505Rs. 10500(19% OFF)
54,Pavers England,Men Solid Leather Formal Derbys,Rs. 8999
55,Saint G,Woman Black Leather Boots,Rs. 11250Rs. 12500(10% OFF)
56,Saint G,Women High-Top Heeled Boots,Rs. 9869Rs. 13900(29% OFF)
57,Geox,Women Chunky Sneakers,Rs. 9999
58,Saint G,Leather Block Heeled Boots with Buckles,Rs. 9810Rs. 10900(10% OFF)
59,Saint G,Embellished Flatform Boots,Rs. 8505Rs. 10500(19% OFF)
60,Heel & Buckle London,Men Solid Leather Formal Loafers,Rs. 11990
61,Saint G,Leather Block Heeled Boots,Rs. 9810Rs. 10900(Rs. 1090 OFF)
62,Geox,Women Leather High-Top Flat Boots,Rs. 10499Rs. 14999(30% OFF)
63,fitflop,Women Textured Slip-On Sneakers,Rs. 7999
64,Cole Haan,Women Leather Sneakers,Rs. 10999
65,Nike,Men Zoom Span 4 Running Shoes,Rs. 7195
66,ALDO,Men Printed Sneakers,Rs. 9099Rs. 12999(30% OFF)
67,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 9999
68,Skechers,Men Balance Anchor Walking,Rs. 8499Rs. 9999(15% OFF)
69,Nike,Men BlazerLow '77 Sneakers,Rs. 7195
70,Skechers,Men Go Run Hyper Burst Running,Rs. 7224Rs. 8499(15% OFF)
71,Hush Puppies,Men Leather Derbys,Rs. 7999
72,Hush Puppies,Men Formal Derbys,Rs. 9999
73,Hush Puppies,Men Solid Leather Formal Derbys,Rs. 9999
74,Hush Puppies,Men Solid Formal Slip-Ons,Rs. 9999
75,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999
76,ECCO,Helsinki Bike Toe Lace Shoes,Rs. 12999
77,Clarks,Men Solid Formal Leather Derbys,Rs. 9999
78,Saint G,Women Leather Heeled Boots,Rs. 13674Rs. 15900(14% OFF)
79,ALDO,Men Solid Leather Formal Derbys,Rs. 7799Rs. 12999(40% OFF)
80,Saint G,Leather Block Heeled Boots,Rs. 12675Rs. 16900(Rs. 4225 OFF)
81,Bugatti,Men Walking Shoes,Rs. 7199Rs. 8999(20% OFF)
82,Heel & Buckle London,Men Solid Leather Formal Penny Loafers,Rs. 7693Rs. 10990(30% OFF)
83,Bugatti,Men Sneakers,Rs. 8799Rs. 10999(20% OFF)
84,Saint G,Women Leather Heeled Boots,Rs. 10710Rs. 11900(10% OFF)
85,Saint G,Women Leather Heeled Boots,Rs. 13050Rs. 14500(10% OFF)
86,Saint G,Women Leather Heeled Boots,Rs. 12905Rs. 14500(11% OFF)
87,Saint G,Women Kitten Heeled Boots,Rs. 7921Rs. 8900(11% OFF)
88,Saint G,Women Leather Heeled Boots,Rs. 12510Rs. 13900(10% OFF)
89,DAVINCHI,Men Solid Leather Formal Loafers,Rs. 8490
90,ECCO,Leather Stiletto Pumps,Rs. 12999
91,ECCO,Women Textured Leather Sneakers,Rs. 13999
92,MANGO,Women Mid Top Chunky Flat Boot,Rs. 7590Rs. 7990(5% OFF)
93,ECCO,Women Ballerinas Flats,Rs. 8999
94,Puma,Women Eternity NITRO Shoes,Rs. 7799Rs. 12999(40% OFF)
95,J.FONTINI,Men Solid Loafers,Rs. 8990
96,Geox,Women Leather High-Top Flat Boots,Rs. 12599Rs. 17999(30% OFF)
97,Pavers England,Men Textured Leather Loafers,Rs. 10999
98,MANGO,Textured High-Top Flat Boots,Rs. 7990
99,Saint G,Suede Block Heeled Boots,Rs. 10350Rs. 11500(10% OFF)

# 8- Amazon/ laptop

In [2]:
# Lets connect first to webdriver
driver= webdriver.Chrome("D:\Inernship\chromedriver.exe")

In [3]:
#getting Url
url= "https://www.amazon.in/"
driver.get(url)

In [4]:
# Finding webelement for search job bar using id
search_bar= driver.find_element_by_id('twotabsearchtextbox')
search_bar

In [5]:
#writing on search bar
search_bar.send_keys('Laptop')

In [6]:
# Clicking using absolute x path function
search_btn= driver.find_element_by_id('nav-search-submit-button')
search_btn

In [7]:
search_btn.click()

In [8]:
# applying filter i7
i7= driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[1]/li[12]/span/a/span")
i7

In [9]:
i7.click()

In [10]:
#scraping titles
title= []
for i in driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]'):
    title.append(i.text)
title= title[:10]
title

['Dell 14 (2021) i7-1195G7 2in1 Touch Screen Laptop, 16GB, 512GB SSD, Win 10 + MS Office, 14.0" (35.56 cms) FHD Display, Backlit KB, FPR + Active Pen, Platinum Silver (Inspiron 5410, D560596WIN9S)',
 'LG Gram 17-inches Ultra-Light Intel Evo 11th Gen Core i7,16 GB RAM, 512 GB SSD, New Win-11 Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 3 Yr Warranty (17Z90P-G.AH85A2, Black)',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'Acer Nitro 5 AN515-57 Gaming Laptop | Intel Core i7-11800H |NVIDIA GeForce RTX 3050 Ti Laptop Graphics |15.6" FHD 144Hz IPS Display |16GB DDR4 |256GB SSD+1TB HDD |Killer Wi-Fi 6 |RGB Backlit Keyboard',
 'HP Pavilion 13, 11th Gen Intel Core i7, 13.3-inch(33.8 cm) FHD,IPS, Micro-Edge Laptop (16GB RAM/ 1TB SSD/ Win 10/ FPR/Audio B&O/Alexa Built-in/MS Office/ Ceramic White/ 1.24 Kg) -13-bb0078TU',
 'ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3060 6GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HM-HN100T',
 'HP Pavilion 14, Intel 11th Gen Core i7 16GB RAM/1TB SSD 14-inch Laptop, FHD Micro-Edge Anti-Glare Display/Iris Xᵉ Graphics/Backlit KB/B&O Audio/Fingerprint Reader/ Win 11 Ready/1.41kg, 14-dv0058TU',
 'Lenovo ThinkBook 13s Intel 11th Gen Core i7 13.3"(33.78 cm) WQXGA IPS 300 nits 100% sRGB Dolby Vision Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/FPR/Mineral Grey/1.26 Kg), 20V9A05FIH',
 'Dell 14 (2021) i7-1195G7 2in1 Touch Screen Laptop, 16GB, 512GB SSD, Win 10 + MS Office, 14.0" (35.56 cms) FHD Display, Backlit KB, FPR + Active Pen, Platinum Silver (Inspiron 5410, D560596WIN9S)',
 'ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Eclipse Gray/2 kg), FX516PE-HN088TS']

In [11]:
# Scraping price
price= []
for i in driver.find_elements_by_xpath('//span[@class="a-price-whole"]'):
    price.append(i.text)
price= price[:10]
price

['95,300',
 '99,990',
 '59,990',
 '89,990',
 '87,990',
 '1,14,990',
 '97,000',
 '79,990',
 '95,300',
 '95,990']

In [ ]:
# In question 8 apply only one filter that is for i7, leave ratings for now , to fetch rating you should know about exception handling about which you will study later.
# I got this response from ticket, so I didn't scrap data for rating and I didn't apply i9 filter.

In [12]:
print(len(title), len(price))

10 10

In [14]:
laptop= pd.DataFrame({'Tiitle':title, 'Price':price})
laptop

                                              Tiitle     Price
0  Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...    95,300
1  LG Gram 17-inches Ultra-Light Intel Evo 11th G...    99,990
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...    59,990
3  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...    89,990
4  HP Pavilion 13, 11th Gen Intel Core i7, 13.3-i...    87,990
5  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...  1,14,990
6  HP Pavilion 14, Intel 11th Gen Core i7 16GB RA...    97,000
7  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...    79,990
8  Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...    95,300
9  ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FH...    95,990

# 9- Data Scientist in Noida

In [43]:
# Lets connect first to webdriver
driver= webdriver.Chrome("D:\Inernship\chromedriver.exe")

In [44]:
#getting Url
url= 'https://www.ambitionbox.com/'
driver.get(url)

In [45]:
# Finding webelement for search job bar 
search_job= driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
search_job

In [46]:
search_job.click()

In [47]:
# Finding webelement for search job bar using id
search_jobs= driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search_jobs

In [48]:
#writing on search bar
search_jobs.send_keys('Data Scientist')

In [49]:
search_btn= driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button')
search_btn

In [50]:
search_btn.click() # get job

In [51]:
# Finding web element for search location bar using xpath
search_loc= driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]')
search_loc

In [52]:
# click on location button
search_loc.click()

In [53]:
search_locs= driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_locs

In [54]:
#writing on location bar
search_locs.send_keys('Noida')

In [60]:
n= driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/input')
n

In [61]:
# choosing location
n.click()

In [67]:
#extracting companies names
nam= []
for i in driver.find_elements_by_xpath('//p[@class="company body-medium"]'):
    nam.append(i.text)
nam= nam[:10]
nam

['Nokia Solutions and Networks India (P)Ltd.',
 'Paytm',
 'Jubilant Foodworks Limited',
 'CHT Sapiense',
 'CHT Sapiense',
 'GI Group',
 'GI Group',
 'GI Group',
 'RMS Risk Management Solutions',
 'Paytm']

In [68]:
#extracting companies ratings
rat= []
for i in driver.find_elements_by_xpath('//span[@class="body-small"]'):
    rat.append(i.text)
rat= rat[:10]
rat

['4.3', '3.7', '3.9', '3.7', '3.7', '4.1', '4.1', '4.1', '3.5', '3.7']

In [73]:
#extracting job post days
post= []
for i in driver.find_elements_by_xpath('//span[@class="body-small-l"]'):
    post.append(i.text)
post= post[::2]
post= post[:10]
post

['12d ago',
 '6d ago',
 '23d ago',
 '7d ago',
 '8d ago',
 '19d ago',
 '19d ago',
 '19d ago',
 '1d ago',
 '27d ago']

In [74]:
# Finding length
print(len(nam), len(rat), len(post))

10 10 10

In [75]:
#Making DataFrame
jobs= pd.DataFrame({'Company_Name':nam, 'Rating': rat, 'Post':post})
jobs

                                 Company_Name Rating     Post
0  Nokia Solutions and Networks India (P)Ltd.    4.3  12d ago
1                                       Paytm    3.7   6d ago
2                  Jubilant Foodworks Limited    3.9  23d ago
3                                CHT Sapiense    3.7   7d ago
4                                CHT Sapiense    3.7   8d ago
5                                    GI Group    4.1  19d ago
6                                    GI Group    4.1  19d ago
7                                    GI Group    4.1  19d ago
8               RMS Risk Management Solutions    3.5   1d ago
9                                       Paytm    3.7  27d ago

# 10- salary data for Data Scientist designation

In [3]:
#importing chromedriver
driver= webdriver.Chrome("D:\Inernship\chromedriver.exe")

In [4]:
#getting Url
url= 'https://www.ambitionbox.com/'
driver.get(url)

In [5]:
search_salaries= driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
search_salaries

In [6]:
#Click on the salaries option
search_salaries.click()

In [7]:
#search bar
search_designation= driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_designation

In [8]:
#writing on search bar
search_designation.send_keys('Data Scientist')

In [9]:
n= driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div')
n

In [10]:
# choosing Data Scientist
n.click()

In [72]:
#extracting companies names
company_names= []
for i in driver.find_elements_by_xpath('//div[@class="name"]'):
    company_names.append(i.text.replace("(\)", "").split()[0])

company_names

['Walmart',
 'Ab',
 'ZS',
 'Fractal',
 'Optum',
 'UnitedHealth',
 'Tiger',
 'Verizon',
 'Ganit',
 'Ericsson']

In [41]:
# extracting experiance data
experience= []
for i in driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]'):
    experience.append(i.text.replace("(\)", "").split()[-3])
experience= experience[:10]
experience

[]

In [61]:
# extracting minimum salary
minimum_salary= []
for i in driver.find_elements_by_xpath('//div[@class= "salary-values"]'):
    minimum_salary.append(i.text.replace("(\)", "").split()[1])
minimum_salary= minimum_salary[:10]
minimum_salary

['17.7L',
 '15.0L',
 '9.8L',
 '9.5L',
 '11.0L',
 '7.2L',
 '8.3L',
 '10.0L',
 '8.5L',
 '5.8L']

In [62]:
# extracting maximum salary
maximum_salary= []
for i in driver.find_elements_by_xpath('//div[@class= "salary-values"]'):
    maximum_salary.append(i.text.replace("(\)", "").split()[-1])
maximum_salary= maximum_salary[:10]
maximum_salary

['35.0L',
 '25.0L',
 '20.0L',
 '22.0L',
 '21.3L',
 '20.5L',
 '18.5L',
 '21.0L',
 '15.0L',
 '21.5L']

In [63]:
# extracting average salary 
avg_salary= []
for i in driver.find_elements_by_xpath('//div[@class= "average-indicator-wrapper"]'):
    avg_salary.append(i.text)
avg_salary= avg_salary[:10]
avg_salary

['₹ 28.7L',
 '₹ 19.5L',
 '₹ 15.8L',
 '₹ 15.0L',
 '₹ 15.0L',
 '₹ 13.5L',
 '₹ 13.5L',
 '₹ 12.7L',
 '₹ 12.4L',
 '₹ 11.9L']

In [64]:
# extracting total salary record
total_salary_record= []
for i in driver.find_elements_by_xpath('//div[@class= "name"]'):
    total_salary_record.append(i.text.replace("(\)", "").split()[-2])
total_salary_record= total_salary_record[:10]
total_salary_record

['10', '22', '14', '72', '23', '49', '27', '14', '13', '42']

In [65]:
# Finding length
print(len(company_names), len(experience), len(minimum_salary), len(maximum_salary), len(avg_salary), len(total_salary_record) )

10 10 10 10 10 10

In [73]:
#Making DataFrame
jobs= pd.DataFrame({'Company_Name':company_names,'Total_Salary_Record':total_salary_record,'Minimum_Salary':minimum_salary,'Maximum_Salary':maximum_salary,'Average_Salary':avg_salary,'Experience': experience})

In [74]:
jobs

,Company_Name,Total_Salary_Record,Minimum_Salary,Maximum_Salary,Average_Salary,Experience
0,Walmart,10,17.7L,35.0L,₹ 28.7L,3
1,Ab,22,15.0L,25.0L,₹ 19.5L,3-4
2,ZS,14,9.8L,20.0L,₹ 15.8L,2
3,Fractal,72,9.5L,22.0L,₹ 15.0L,2-4
4,Optum,23,11.0L,21.3L,₹ 15.0L,3-4
5,UnitedHealth,49,7.2L,20.5L,₹ 13.5L,2-4
6,Tiger,27,8.3L,18.5L,₹ 13.5L,3-4
7,Verizon,14,10.0L,21.0L,₹ 12.7L,4
8,Ganit,13,8.5L,15.0L,₹ 12.4L,4
9,Ericsson,42,5.8L,21.5L,₹ 11.9L,3-4