In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# 1- Header Tags from Wikipedia

In [2]:
# requests to server
page= requests.get("https://en.wikipedia.org/wiki/Main_Page")
page

In [164]:
# downloading page content 
soup= BeautifulSoup(page.content)

In [4]:
header = soup.find('span', class_='mw-headline')
header

In [5]:
# Scraping wikipedia header
wikiheader= []
for i in soup.find_all('span',class_='mw-headline'):
    wikiheader.append(i.text)
wikiheader

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [165]:
# Making DataFrame
Header_Tag= pd.DataFrame({'Wikiheader':wikiheader})
Header_Tag

                      Wikiheader
0  From today's featured article
1               Did you know ...
2                    In the news
3                    On this day
4       Today's featured picture
5       Other areas of Wikipedia
6    Wikipedia's sister projects
7            Wikipedia languages

# 2- IMDB's Top rated 100 movies

In [168]:
# Requests to server
page= requests.get('https://www.imdb.com/list/ls091520106/')
page

In [171]:
# Data
soup= BeautifulSoup(page.content)

In [173]:
titles= soup.find("h3", class_="lister-item-header")
titles

<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt0111161/">The Shawshank Redemption</a>
<span class="lister-item-year text-muted unbold">(1994)</span>
</h3>

In [175]:
# Scraping movie names
movie_names=[]
for i in soup.find_all('h3',class_='lister-item-header'):
    movie_names.append(i.text.replace('\n',""))
movie_names

['1.The Shawshank Redemption(1994)',
 '2.The Godfather(1972)',
 '3.The Godfather: Part II(1974)',
 '4.The Dark Knight(2008)',
 '5.12 Angry Men(1957)',
 "6.Schindler's List(1993)",
 '7.The Lord of the Rings: The Return of the King(2003)',
 '8.Pulp Fiction(1994)',
 '9.Il buono, il brutto, il cattivo(1966)',
 '10.Fight Club(1999)',
 '11.Joker(2019)',
 '12.The Lord of the Rings: The Fellowship of the Ring(2001)',
 '13.Forrest Gump(1994)',
 '14.Inception(2010)',
 '15.Star Wars: Episode V - The Empire Strikes Back(1980)',
 '16.The Lord of the Rings: The Two Towers(2002)',
 '17.The Matrix(1999)',
 "18.One Flew Over the Cuckoo's Nest(1975)",
 '19.Goodfellas(1990)',
 '20.Shichinin no samurai(1954)',
 '21.Se7en(1995)',
 '22.Cidade de Deus(2002)',
 '23.La vita è bella(1997)',
 '24.The Silence of the Lambs(1991)',
 '25.Star Wars(1977)',
 "26.It's a Wonderful Life(1946)",
 '27.Saving Private Ryan(1998)',
 '28.Sen to Chihiro no kamikakushi(2001)',
 '29.The Green Mile(1999)',
 '30.Léon(1994)',
 '31.Seppuku(1962)',
 '32.Interstellar(2014)',
 '33.The Usual Suspects(1995)',
 '34.The Lion King(1994)',
 '35.American History X(1998)',
 '36.Back to the Future(1985)',
 '37.The Pianist(2002)',
 '38.Modern Times(1936)',
 '39.Terminator 2: Judgment Day(1991)',
 '40.The Intouchables(2011)',
 '41.Psycho(1960)',
 '42.Gladiator(2000)',
 '43.City Lights(1931)',
 '44.The Departed(2006)',
 '45.Whiplash(2014)',
 '46.Once Upon a Time in the West(1968)',
 '47.The Prestige(2006)',
 '48.Avengers: Endgame(2019)',
 '49.Casablanca(1942)',
 '50.Hotaru no haka(1988)',
 '51.Rear Window(1954)',
 '52.Nuovo Cinema Paradiso(1988)',
 '53.Alien(1979)',
 '54.Raiders of the Lost Ark(1981)',
 '55.Memento(2000)',
 '56.Apocalypse Now(1979)',
 '57.The Great Dictator(1940)',
 '58.The Lives of Others(2006)',
 '59.Avengers: Infinity War(2018)',
 '60.Django Unchained(2012)',
 '61.Spider-Man: Into the Spider-Verse(2018)',
 '62.The Shining(1980)',
 '63.Paths of Glory(1957)',
 '64.WALL·E(2008)',
 '65.Sunset Blvd.(1950)',
 '66.Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb(1964)',
 '67.Mononoke-hime(1997)',
 '68.Oldeuboi(2003)',
 '69.Witness for the Prosecution(1957)',
 '70.The Dark Knight Rises(2012)',
 '71.Once Upon a Time in America(1984)',
 '72.Gisaengchung(2019)',
 '73.Aliens(1986)',
 '74.American Beauty(1999)',
 '75.Coco(I) (2017)',
 '76.Kimi no na wa.(2016)',
 '77.Braveheart(1995)',
 '78.Das Boot(1981)',
 '79.3 Idiots(2009)',
 '80.Taare Zameen Par(2007)',
 '81.Star Wars: Episode VI - Return of the Jedi(1983)',
 '82.Toy Story(1995)',
 '83.Reservoir Dogs(1992)',
 '84.Amadeus(1984)',
 '85.Dangal(2016)',
 '86.Good Will Hunting(1997)',
 '87.Inglourious Basterds(2009)',
 '88.M - Eine Stadt sucht einen Mörder(1931)',
 '89.Requiem for a Dream(2000)',
 '90.2001: A Space Odyssey(1968)',
 '91.Vertigo(1958)',
 '92.Eternal Sunshine of the Spotless Mind(2004)',
 '93.Citizen Kane(1941)',
 '94.Full Metal Jacket(1987)',
 '95.Jagten(2012)',
 '96.North by Northwest(1959)',
 '97.A Clockwork Orange(1971)',
 '98.Snatch(2000)',
 "99.Le fabuleux destin d'Amélie Poulain(2001)",
 '100.The Kid(1921)']

In [176]:
#Removing year from last
movie_names = [x[:-6] for x in movie_names]
movie_names

['1.The Shawshank Redemption',
 '2.The Godfather',
 '3.The Godfather: Part II',
 '4.The Dark Knight',
 '5.12 Angry Men',
 "6.Schindler's List",
 '7.The Lord of the Rings: The Return of the King',
 '8.Pulp Fiction',
 '9.Il buono, il brutto, il cattivo',
 '10.Fight Club',
 '11.Joker',
 '12.The Lord of the Rings: The Fellowship of the Ring',
 '13.Forrest Gump',
 '14.Inception',
 '15.Star Wars: Episode V - The Empire Strikes Back',
 '16.The Lord of the Rings: The Two Towers',
 '17.The Matrix',
 "18.One Flew Over the Cuckoo's Nest",
 '19.Goodfellas',
 '20.Shichinin no samurai',
 '21.Se7en',
 '22.Cidade de Deus',
 '23.La vita è bella',
 '24.The Silence of the Lambs',
 '25.Star Wars',
 "26.It's a Wonderful Life",
 '27.Saving Private Ryan',
 '28.Sen to Chihiro no kamikakushi',
 '29.The Green Mile',
 '30.Léon',
 '31.Seppuku',
 '32.Interstellar',
 '33.The Usual Suspects',
 '34.The Lion King',
 '35.American History X',
 '36.Back to the Future',
 '37.The Pianist',
 '38.Modern Times',
 '39.Terminator 2: Judgment Day',
 '40.The Intouchables',
 '41.Psycho',
 '42.Gladiator',
 '43.City Lights',
 '44.The Departed',
 '45.Whiplash',
 '46.Once Upon a Time in the West',
 '47.The Prestige',
 '48.Avengers: Endgame',
 '49.Casablanca',
 '50.Hotaru no haka',
 '51.Rear Window',
 '52.Nuovo Cinema Paradiso',
 '53.Alien',
 '54.Raiders of the Lost Ark',
 '55.Memento',
 '56.Apocalypse Now',
 '57.The Great Dictator',
 '58.The Lives of Others',
 '59.Avengers: Infinity War',
 '60.Django Unchained',
 '61.Spider-Man: Into the Spider-Verse',
 '62.The Shining',
 '63.Paths of Glory',
 '64.WALL·E',
 '65.Sunset Blvd.',
 '66.Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 '67.Mononoke-hime',
 '68.Oldeuboi',
 '69.Witness for the Prosecution',
 '70.The Dark Knight Rises',
 '71.Once Upon a Time in America',
 '72.Gisaengchung',
 '73.Aliens',
 '74.American Beauty',
 '75.Coco(I) ',
 '76.Kimi no na wa.',
 '77.Braveheart',
 '78.Das Boot',
 '79.3 Idiots',
 '80.Taare Zameen Par',
 '81.Star Wars: Episode VI - Return of the Jedi',
 '82.Toy Story',
 '83.Reservoir Dogs',
 '84.Amadeus',
 '85.Dangal',
 '86.Good Will Hunting',
 '87.Inglourious Basterds',
 '88.M - Eine Stadt sucht einen Mörder',
 '89.Requiem for a Dream',
 '90.2001: A Space Odyssey',
 '91.Vertigo',
 '92.Eternal Sunshine of the Spotless Mind',
 '93.Citizen Kane',
 '94.Full Metal Jacket',
 '95.Jagten',
 '96.North by Northwest',
 '97.A Clockwork Orange',
 '98.Snatch',
 "99.Le fabuleux destin d'Amélie Poulain",
 '100.The Kid']

In [177]:
year= soup.find('span', class_="lister-item-year text-muted unbold")
year

In [178]:
# Scraping years
year= []
for i in soup.find_all('span' ,class_="lister-item-year text-muted unbold"):
    year.append(i.text)
year

['(1994)',
 '(1972)',
 '(1974)',
 '(2008)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(1966)',
 '(1999)',
 '(2019)',
 '(2001)',
 '(1994)',
 '(2010)',
 '(1980)',
 '(2002)',
 '(1999)',
 '(1975)',
 '(1990)',
 '(1954)',
 '(1995)',
 '(2002)',
 '(1997)',
 '(1991)',
 '(1977)',
 '(1946)',
 '(1998)',
 '(2001)',
 '(1999)',
 '(1994)',
 '(1962)',
 '(2014)',
 '(1995)',
 '(1994)',
 '(1998)',
 '(1985)',
 '(2002)',
 '(1936)',
 '(1991)',
 '(2011)',
 '(1960)',
 '(2000)',
 '(1931)',
 '(2006)',
 '(2014)',
 '(1968)',
 '(2006)',
 '(2019)',
 '(1942)',
 '(1988)',
 '(1954)',
 '(1988)',
 '(1979)',
 '(1981)',
 '(2000)',
 '(1979)',
 '(1940)',
 '(2006)',
 '(2018)',
 '(2012)',
 '(2018)',
 '(1980)',
 '(1957)',
 '(2008)',
 '(1950)',
 '(1964)',
 '(1997)',
 '(2003)',
 '(1957)',
 '(2012)',
 '(1984)',
 '(2019)',
 '(1986)',
 '(1999)',
 '(I) (2017)',
 '(2016)',
 '(1995)',
 '(1981)',
 '(2009)',
 '(2007)',
 '(1983)',
 '(1995)',
 '(1992)',
 '(1984)',
 '(2016)',
 '(1997)',
 '(2009)',
 '(1931)',
 '(2000)',
 '(1968)',
 '(1958)',
 '(2004)',
 '(1941)',
 '(1987)',
 '(2012)',
 '(1959)',
 '(1971)',
 '(2000)',
 '(2001)',
 '(1921)']

In [179]:
#removing (I)
years=[s.replace("(I)", "") for s in year]
years

['(1994)',
 '(1972)',
 '(1974)',
 '(2008)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(1966)',
 '(1999)',
 '(2019)',
 '(2001)',
 '(1994)',
 '(2010)',
 '(1980)',
 '(2002)',
 '(1999)',
 '(1975)',
 '(1990)',
 '(1954)',
 '(1995)',
 '(2002)',
 '(1997)',
 '(1991)',
 '(1977)',
 '(1946)',
 '(1998)',
 '(2001)',
 '(1999)',
 '(1994)',
 '(1962)',
 '(2014)',
 '(1995)',
 '(1994)',
 '(1998)',
 '(1985)',
 '(2002)',
 '(1936)',
 '(1991)',
 '(2011)',
 '(1960)',
 '(2000)',
 '(1931)',
 '(2006)',
 '(2014)',
 '(1968)',
 '(2006)',
 '(2019)',
 '(1942)',
 '(1988)',
 '(1954)',
 '(1988)',
 '(1979)',
 '(1981)',
 '(2000)',
 '(1979)',
 '(1940)',
 '(2006)',
 '(2018)',
 '(2012)',
 '(2018)',
 '(1980)',
 '(1957)',
 '(2008)',
 '(1950)',
 '(1964)',
 '(1997)',
 '(2003)',
 '(1957)',
 '(2012)',
 '(1984)',
 '(2019)',
 '(1986)',
 '(1999)',
 ' (2017)',
 '(2016)',
 '(1995)',
 '(1981)',
 '(2009)',
 '(2007)',
 '(1983)',
 '(1995)',
 '(1992)',
 '(1984)',
 '(2016)',
 '(1997)',
 '(2009)',
 '(1931)',
 '(2000)',
 '(1968)',
 '(1958)',
 '(2004)',
 '(1941)',
 '(1987)',
 '(2012)',
 '(1959)',
 '(1971)',
 '(2000)',
 '(2001)',
 '(1921)']

In [180]:
rating= soup.find('div' ,class_="ipl-rating-star small")
rating

<div class="ipl-rating-star small">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">9.3</span>
</div>

In [182]:
# Scraping ratings
rating= []
for i in soup.find_all('div', class_="ipl-rating-star small"):
    rating.append(i.text.replace('\n',""))
rating

['9.3',
 '9.2',
 '9',
 '9',
 '9',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.4',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.6',
 '8.3',
 '8.3',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.3',
 '8.3']

In [183]:
# Finding length
print(len(movie_names), len(years), len(rating))

100 100 100

In [184]:
# Creating DataFrame
imdb_top100_movies=pd.DataFrame({'Movie Name':movie_names,'Year of Release':years, 'Rating':rating})
imdb_top100_movies

                                Movie Name Year of Release Rating
0               1.The Shawshank Redemption          (1994)    9.3
1                          2.The Godfather          (1972)    9.2
2                 3.The Godfather: Part II          (1974)      9
3                        4.The Dark Knight          (2008)      9
4                           5.12 Angry Men          (1957)      9
..                                     ...             ...    ...
95                   96.North by Northwest          (1959)    8.3
96                   97.A Clockwork Orange          (1971)    8.3
97                               98.Snatch          (2000)    8.2
98  99.Le fabuleux destin d'Amélie Poulain          (2001)    8.3
99                             100.The Kid          (1921)    8.3

[100 rows x 3 columns]

# 3- IMDB’s Top rated 100 Indian Movies

In [187]:
# Requests to a server
page= requests.get('https://www.imdb.com/list/ls009997493/')
page

In [185]:
# Data
soup= BeautifulSoup(page.content)

In [188]:
name= soup.find('h3', class_='lister-item-header')
name

<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt0111161/">The Shawshank Redemption</a>
<span class="lister-item-year text-muted unbold">(1994)</span>
</h3>

In [189]:
# Scraping movie's names
names= []
for i in soup.find_all('h3', class_='lister-item-header'):
    names.append(i.text.replace('\n',""))
names

['1.The Shawshank Redemption(1994)',
 '2.The Godfather(1972)',
 '3.The Godfather: Part II(1974)',
 '4.The Dark Knight(2008)',
 '5.12 Angry Men(1957)',
 "6.Schindler's List(1993)",
 '7.The Lord of the Rings: The Return of the King(2003)',
 '8.Pulp Fiction(1994)',
 '9.Il buono, il brutto, il cattivo(1966)',
 '10.Fight Club(1999)',
 '11.Joker(2019)',
 '12.The Lord of the Rings: The Fellowship of the Ring(2001)',
 '13.Forrest Gump(1994)',
 '14.Inception(2010)',
 '15.Star Wars: Episode V - The Empire Strikes Back(1980)',
 '16.The Lord of the Rings: The Two Towers(2002)',
 '17.The Matrix(1999)',
 "18.One Flew Over the Cuckoo's Nest(1975)",
 '19.Goodfellas(1990)',
 '20.Shichinin no samurai(1954)',
 '21.Se7en(1995)',
 '22.Cidade de Deus(2002)',
 '23.La vita è bella(1997)',
 '24.The Silence of the Lambs(1991)',
 '25.Star Wars(1977)',
 "26.It's a Wonderful Life(1946)",
 '27.Saving Private Ryan(1998)',
 '28.Sen to Chihiro no kamikakushi(2001)',
 '29.The Green Mile(1999)',
 '30.Léon(1994)',
 '31.Seppuku(1962)',
 '32.Interstellar(2014)',
 '33.The Usual Suspects(1995)',
 '34.The Lion King(1994)',
 '35.American History X(1998)',
 '36.Back to the Future(1985)',
 '37.The Pianist(2002)',
 '38.Modern Times(1936)',
 '39.Terminator 2: Judgment Day(1991)',
 '40.The Intouchables(2011)',
 '41.Psycho(1960)',
 '42.Gladiator(2000)',
 '43.City Lights(1931)',
 '44.The Departed(2006)',
 '45.Whiplash(2014)',
 '46.Once Upon a Time in the West(1968)',
 '47.The Prestige(2006)',
 '48.Avengers: Endgame(2019)',
 '49.Casablanca(1942)',
 '50.Hotaru no haka(1988)',
 '51.Rear Window(1954)',
 '52.Nuovo Cinema Paradiso(1988)',
 '53.Alien(1979)',
 '54.Raiders of the Lost Ark(1981)',
 '55.Memento(2000)',
 '56.Apocalypse Now(1979)',
 '57.The Great Dictator(1940)',
 '58.The Lives of Others(2006)',
 '59.Avengers: Infinity War(2018)',
 '60.Django Unchained(2012)',
 '61.Spider-Man: Into the Spider-Verse(2018)',
 '62.The Shining(1980)',
 '63.Paths of Glory(1957)',
 '64.WALL·E(2008)',
 '65.Sunset Blvd.(1950)',
 '66.Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb(1964)',
 '67.Mononoke-hime(1997)',
 '68.Oldeuboi(2003)',
 '69.Witness for the Prosecution(1957)',
 '70.The Dark Knight Rises(2012)',
 '71.Once Upon a Time in America(1984)',
 '72.Gisaengchung(2019)',
 '73.Aliens(1986)',
 '74.American Beauty(1999)',
 '75.Coco(I) (2017)',
 '76.Kimi no na wa.(2016)',
 '77.Braveheart(1995)',
 '78.Das Boot(1981)',
 '79.3 Idiots(2009)',
 '80.Taare Zameen Par(2007)',
 '81.Star Wars: Episode VI - Return of the Jedi(1983)',
 '82.Toy Story(1995)',
 '83.Reservoir Dogs(1992)',
 '84.Amadeus(1984)',
 '85.Dangal(2016)',
 '86.Good Will Hunting(1997)',
 '87.Inglourious Basterds(2009)',
 '88.M - Eine Stadt sucht einen Mörder(1931)',
 '89.Requiem for a Dream(2000)',
 '90.2001: A Space Odyssey(1968)',
 '91.Vertigo(1958)',
 '92.Eternal Sunshine of the Spotless Mind(2004)',
 '93.Citizen Kane(1941)',
 '94.Full Metal Jacket(1987)',
 '95.Jagten(2012)',
 '96.North by Northwest(1959)',
 '97.A Clockwork Orange(1971)',
 '98.Snatch(2000)',
 "99.Le fabuleux destin d'Amélie Poulain(2001)",
 '100.The Kid(1921)']

In [190]:
#removing years
names = [x[:-6] for x in names]
names

['1.The Shawshank Redemption',
 '2.The Godfather',
 '3.The Godfather: Part II',
 '4.The Dark Knight',
 '5.12 Angry Men',
 "6.Schindler's List",
 '7.The Lord of the Rings: The Return of the King',
 '8.Pulp Fiction',
 '9.Il buono, il brutto, il cattivo',
 '10.Fight Club',
 '11.Joker',
 '12.The Lord of the Rings: The Fellowship of the Ring',
 '13.Forrest Gump',
 '14.Inception',
 '15.Star Wars: Episode V - The Empire Strikes Back',
 '16.The Lord of the Rings: The Two Towers',
 '17.The Matrix',
 "18.One Flew Over the Cuckoo's Nest",
 '19.Goodfellas',
 '20.Shichinin no samurai',
 '21.Se7en',
 '22.Cidade de Deus',
 '23.La vita è bella',
 '24.The Silence of the Lambs',
 '25.Star Wars',
 "26.It's a Wonderful Life",
 '27.Saving Private Ryan',
 '28.Sen to Chihiro no kamikakushi',
 '29.The Green Mile',
 '30.Léon',
 '31.Seppuku',
 '32.Interstellar',
 '33.The Usual Suspects',
 '34.The Lion King',
 '35.American History X',
 '36.Back to the Future',
 '37.The Pianist',
 '38.Modern Times',
 '39.Terminator 2: Judgment Day',
 '40.The Intouchables',
 '41.Psycho',
 '42.Gladiator',
 '43.City Lights',
 '44.The Departed',
 '45.Whiplash',
 '46.Once Upon a Time in the West',
 '47.The Prestige',
 '48.Avengers: Endgame',
 '49.Casablanca',
 '50.Hotaru no haka',
 '51.Rear Window',
 '52.Nuovo Cinema Paradiso',
 '53.Alien',
 '54.Raiders of the Lost Ark',
 '55.Memento',
 '56.Apocalypse Now',
 '57.The Great Dictator',
 '58.The Lives of Others',
 '59.Avengers: Infinity War',
 '60.Django Unchained',
 '61.Spider-Man: Into the Spider-Verse',
 '62.The Shining',
 '63.Paths of Glory',
 '64.WALL·E',
 '65.Sunset Blvd.',
 '66.Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 '67.Mononoke-hime',
 '68.Oldeuboi',
 '69.Witness for the Prosecution',
 '70.The Dark Knight Rises',
 '71.Once Upon a Time in America',
 '72.Gisaengchung',
 '73.Aliens',
 '74.American Beauty',
 '75.Coco(I) ',
 '76.Kimi no na wa.',
 '77.Braveheart',
 '78.Das Boot',
 '79.3 Idiots',
 '80.Taare Zameen Par',
 '81.Star Wars: Episode VI - Return of the Jedi',
 '82.Toy Story',
 '83.Reservoir Dogs',
 '84.Amadeus',
 '85.Dangal',
 '86.Good Will Hunting',
 '87.Inglourious Basterds',
 '88.M - Eine Stadt sucht einen Mörder',
 '89.Requiem for a Dream',
 '90.2001: A Space Odyssey',
 '91.Vertigo',
 '92.Eternal Sunshine of the Spotless Mind',
 '93.Citizen Kane',
 '94.Full Metal Jacket',
 '95.Jagten',
 '96.North by Northwest',
 '97.A Clockwork Orange',
 '98.Snatch',
 "99.Le fabuleux destin d'Amélie Poulain",
 '100.The Kid']

In [191]:
# Scraping movie year
year= soup.find('span', class_="lister-item-year text-muted unbold")
year

In [192]:
years= []
for i in soup.find_all('span' ,class_="lister-item-year text-muted unbold"):
    years.append(i.text)
years

['(1994)',
 '(1972)',
 '(1974)',
 '(2008)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(1966)',
 '(1999)',
 '(2019)',
 '(2001)',
 '(1994)',
 '(2010)',
 '(1980)',
 '(2002)',
 '(1999)',
 '(1975)',
 '(1990)',
 '(1954)',
 '(1995)',
 '(2002)',
 '(1997)',
 '(1991)',
 '(1977)',
 '(1946)',
 '(1998)',
 '(2001)',
 '(1999)',
 '(1994)',
 '(1962)',
 '(2014)',
 '(1995)',
 '(1994)',
 '(1998)',
 '(1985)',
 '(2002)',
 '(1936)',
 '(1991)',
 '(2011)',
 '(1960)',
 '(2000)',
 '(1931)',
 '(2006)',
 '(2014)',
 '(1968)',
 '(2006)',
 '(2019)',
 '(1942)',
 '(1988)',
 '(1954)',
 '(1988)',
 '(1979)',
 '(1981)',
 '(2000)',
 '(1979)',
 '(1940)',
 '(2006)',
 '(2018)',
 '(2012)',
 '(2018)',
 '(1980)',
 '(1957)',
 '(2008)',
 '(1950)',
 '(1964)',
 '(1997)',
 '(2003)',
 '(1957)',
 '(2012)',
 '(1984)',
 '(2019)',
 '(1986)',
 '(1999)',
 '(I) (2017)',
 '(2016)',
 '(1995)',
 '(1981)',
 '(2009)',
 '(2007)',
 '(1983)',
 '(1995)',
 '(1992)',
 '(1984)',
 '(2016)',
 '(1997)',
 '(2009)',
 '(1931)',
 '(2000)',
 '(1968)',
 '(1958)',
 '(2004)',
 '(1941)',
 '(1987)',
 '(2012)',
 '(1959)',
 '(1971)',
 '(2000)',
 '(2001)',
 '(1921)']

In [193]:
#removing(I)
years=[s.replace("(I)", "") for s in years]
years

['(1994)',
 '(1972)',
 '(1974)',
 '(2008)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(1966)',
 '(1999)',
 '(2019)',
 '(2001)',
 '(1994)',
 '(2010)',
 '(1980)',
 '(2002)',
 '(1999)',
 '(1975)',
 '(1990)',
 '(1954)',
 '(1995)',
 '(2002)',
 '(1997)',
 '(1991)',
 '(1977)',
 '(1946)',
 '(1998)',
 '(2001)',
 '(1999)',
 '(1994)',
 '(1962)',
 '(2014)',
 '(1995)',
 '(1994)',
 '(1998)',
 '(1985)',
 '(2002)',
 '(1936)',
 '(1991)',
 '(2011)',
 '(1960)',
 '(2000)',
 '(1931)',
 '(2006)',
 '(2014)',
 '(1968)',
 '(2006)',
 '(2019)',
 '(1942)',
 '(1988)',
 '(1954)',
 '(1988)',
 '(1979)',
 '(1981)',
 '(2000)',
 '(1979)',
 '(1940)',
 '(2006)',
 '(2018)',
 '(2012)',
 '(2018)',
 '(1980)',
 '(1957)',
 '(2008)',
 '(1950)',
 '(1964)',
 '(1997)',
 '(2003)',
 '(1957)',
 '(2012)',
 '(1984)',
 '(2019)',
 '(1986)',
 '(1999)',
 ' (2017)',
 '(2016)',
 '(1995)',
 '(1981)',
 '(2009)',
 '(2007)',
 '(1983)',
 '(1995)',
 '(1992)',
 '(1984)',
 '(2016)',
 '(1997)',
 '(2009)',
 '(1931)',
 '(2000)',
 '(1968)',
 '(1958)',
 '(2004)',
 '(1941)',
 '(1987)',
 '(2012)',
 '(1959)',
 '(1971)',
 '(2000)',
 '(2001)',
 '(1921)']

In [194]:
rating= soup.find('div' ,class_="ipl-rating-star small")
rating

<div class="ipl-rating-star small">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">9.3</span>
</div>

In [195]:
# Scraping ratings
rating= []
for i in soup.find_all('div', class_="ipl-rating-star small"):
    rating.append(i.text.replace('\n',""))
rating

['9.3',
 '9.2',
 '9',
 '9',
 '9',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.4',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.6',
 '8.3',
 '8.3',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.3',
 '8.3']

In [196]:
# Find length 
print(len(names), len(years), len(rating))

100 100 100

In [197]:
# Creating DataFrame
imdb_top100_indianmovies= pd.DataFrame({'Movie Name':names, 'Year of release':years, 'Rating':rating})
imdb_top100_indianmovies

                                Movie Name Year of release Rating
0               1.The Shawshank Redemption          (1994)    9.3
1                          2.The Godfather          (1972)    9.2
2                 3.The Godfather: Part II          (1974)      9
3                        4.The Dark Knight          (2008)      9
4                           5.12 Angry Men          (1957)      9
..                                     ...             ...    ...
95                   96.North by Northwest          (1959)    8.3
96                   97.A Clockwork Orange          (1971)    8.3
97                               98.Snatch          (2000)    8.2
98  99.Le fabuleux destin d'Amélie Poulain          (2001)    8.3
99                             100.The Kid          (1921)    8.3

[100 rows x 3 columns]

# 4- meesho.com

In [198]:
# requests to a server
page= requests.get('https://meesho.com/bags-ladies/pl/p7vbp')
page

In [199]:
# content
soup= BeautifulSoup(page.content)

In [200]:
# Scraping product name
product_name= soup.find('p', class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS")
product_name

<p class="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" color="greyT2" font-size="16px" font-weight="book">Elite Fancy Women Handbags</p>

In [201]:
product_name.text

'Elite Fancy Women Handbags'

In [202]:
# Scraping multiple product names 
products_names=[]
for i in soup.find_all('p', class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS"):
    products_names.append(i.text)
products_names

['Elite Fancy Women Handbags',
 'Moon Mart Latest girls and kids Handbag',
 'Ravishing Attractive Women Handbags',
 'Ravishing Fancy Women Handbags',
 'Elite Alluring Women Handbags',
 'jeanspatterncaplady Handbags ',
 'Jute Bags',
 'Benicia Giraffe Print Poly Canvas Tote Bag with Zipper Closure Handbags ',
 'Hend bags ',
 'Handbags',
 'SHA-LUXE Handbag',
 'jeanspatternhairlady',
 'Voguish Attractive Women Handbags',
 'Elite Fancy Women Handbags',
 'ladies handbags',
 'Voguish Stylish Women Handbags',
 'Women PINK  Shoulder Bag - Extra Spacious',
 'canvasgreenleafy',
 'Classic Stylish Women Handbags',
 'jutefloralbag']

In [204]:
# Scraping product price
price= soup.find('h5',  class_="Text__StyledText-sc-oo0kvp-0 hiHdyy")
price

In [205]:
price.text

'₹103'

In [206]:
# Scraping multiple product price
price= []
for i in soup.find_all('h5',  class_="Text__StyledText-sc-oo0kvp-0 hiHdyy"):
    price.append(i.text)
price

['₹103',
 '₹215',
 '₹383',
 '₹7',
 '₹383',
 '₹105',
 '₹434',
 '₹200',
 '₹285',
 '₹100',
 '₹305',
 '₹105',
 '₹383',
 '₹323',
 '₹245',
 '₹12',
 '₹199',
 '₹105',
 '₹9',
 '₹103']

In [207]:
# Scraping discount
discount= soup.find('span', class_="Text__StyledText-sc-oo0kvp-0 lnonyH")
discount

In [208]:
discount.text

'30% off'

In [209]:
# Scraping multiple discounts
discounts= []
for i in soup.find_all('span', class_="Text__StyledText-sc-oo0kvp-0 lnonyH"):
    discounts.append(i.text)
discounts

['30% off',
 '30% off',
 '21% off',
 '30% off',
 '21% off',
 '30% off',
 '19% off',
 '30% off',
 '26% off',
 '30% off',
 '25% off',
 '30% off',
 '21% off',
 '24% off',
 '29% off',
 '29% off',
 '30% off',
 '30% off',
 '25% off',
 '30% off']

In [210]:
# Finding length
print(len(price), len(discounts), len(products_names))

20 20 20

In [211]:
# Creating DataFrame
ladies_bags= pd.DataFrame({'Product Name': products_names, 'Price':price, 'Discount': discounts})
ladies_bags

                                         Product Name Price Discount
0                          Elite Fancy Women Handbags  ₹103  30% off
1             Moon Mart Latest girls and kids Handbag  ₹215  30% off
2                 Ravishing Attractive Women Handbags  ₹383  21% off
3                      Ravishing Fancy Women Handbags    ₹7  30% off
4                       Elite Alluring Women Handbags  ₹383  21% off
5                       jeanspatterncaplady Handbags   ₹105  30% off
6                                           Jute Bags  ₹434  19% off
7   Benicia Giraffe Print Poly Canvas Tote Bag wit...  ₹200  30% off
8                                          Hend bags   ₹285  26% off
9                                            Handbags  ₹100  30% off
10                                   SHA-LUXE Handbag  ₹305  25% off
11                               jeanspatternhairlady  ₹105  30% off
12                  Voguish Attractive Women Handbags  ₹383  21% off
13                         Elite Fancy Women Handbags  ₹323  24% off
14                                    ladies handbags  ₹245  29% off
15                     Voguish Stylish Women Handbags   ₹12  29% off
16          Women PINK  Shoulder Bag - Extra Spacious  ₹199  30% off
17                                   canvasgreenleafy  ₹105  30% off
18                     Classic Stylish Women Handbags    ₹9  25% off
19                                      jutefloralbag  ₹103  30% off

# 5- ICC Men Cricket

# a) Top 10 ODI Teams

In [212]:
# Requests to a server
page= requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page

In [213]:
# Page Content
soup= BeautifulSoup(page.content)

In [214]:
team= soup.find('span', class_= "u-hide-phablet")
team

In [215]:
# Scraping Teams
teams= []
for i in soup.find_all('span',class_= "u-hide-phablet"):
    teams.append(i.text)
teams

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan',
 'Netherlands',
 'Ireland',
 'Scotland',
 'Zimbabwe',
 'Oman',
 'Nepal',
 'UAE',
 'United States',
 'Namibia',
 'Papua New Guinea',
 '',
 '',
 '',
 '',
 '']

In [216]:
# Top 10 teams
teams= teams[:10]
teams

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [217]:
# Scraping matches
match= soup.find('td', class_="table-body__cell u-center-text")
match

In [218]:
match= []
for i in soup.find_all('td' ,class_="table-body__cell u-center-text"):
    match.append(i.text)
match

['32',
 '3,793',
 '28',
 '3,244',
 '32',
 '3,624',
 '25',
 '2,459',
 '27',
 '2,524',
 '30',
 '2,740',
 '30',
 '2,523',
 '32',
 '2,657',
 '17',
 '1,054',
 '7',
 '336',
 '25',
 '1,145',
 '10',
 '452',
 '20',
 '764',
 '14',
 '524',
 '11',
 '330',
 '9',
 '190',
 '14',
 '232',
 '6',
 '97',
 '13',
 '0']

In [219]:
# Matches played by top 10 teams
matches=[]
for i in match:
    matches.append(i.replace("\n",""))
matches=matches[::2]
matches.insert(0,"17")
matches=matches[:10]
matches

['17', '32', '28', '32', '25', '27', '30', '30', '32', '17']

In [220]:
# Scraping points
point= soup.find('td', class_="table-body__cell u-center-text")
point

In [221]:
point= []
for i in soup.find_all('td', class_="table-body__cell u-center-text"):
    point.append(i.text)
point

['32',
 '3,793',
 '28',
 '3,244',
 '32',
 '3,624',
 '25',
 '2,459',
 '27',
 '2,524',
 '30',
 '2,740',
 '30',
 '2,523',
 '32',
 '2,657',
 '17',
 '1,054',
 '7',
 '336',
 '25',
 '1,145',
 '10',
 '452',
 '20',
 '764',
 '14',
 '524',
 '11',
 '330',
 '9',
 '190',
 '14',
 '232',
 '6',
 '97',
 '13',
 '0']

In [222]:
# Scraping points of top 10 teams
points=[]
for i in point:
    points.append(i.replace("\n",""))
points=points[1::2]
points.insert(0,"2,054")
points=points[:10]
points

['2,054',
 '3,793',
 '3,244',
 '3,624',
 '2,459',
 '2,524',
 '2,740',
 '2,523',
 '2,657',
 '1,054']

In [223]:
# Scraping Rating
rating= soup.find("td" ,class_="table-body__cell u-text-right rating")
rating

In [224]:
rating= []
for i in soup.find_all("td" ,class_="table-body__cell u-text-right rating"):
    rating.append(i.text)

rating

['119',
 '116',
 '113',
 '98',
 '93',
 '91',
 '84',
 '83',
 '62',
 '48',
 '46',
 '45',
 '38',
 '37',
 '30',
 '21',
 '17',
 '16',
 '0']

In [225]:
# Scraping ratings of top 10 teams
ratings=[]
for i in rating:
    ratings.append(i.replace("\n",""))
ratings.insert(0,"121")
ratings=ratings[:10]
ratings

['121', '119', '116', '113', '98', '93', '91', '84', '83', '62']

In [226]:
# Checking length
print(len(teams), len(matches), len(points), len(ratings))

10 10 10 10

In [227]:
# Creating DataFrame
df= pd.DataFrame({'Teams':teams, 'Matches':matches, 'Points':points, 'Ratings':ratings})
df

          Teams Matches Points Ratings
0   New Zealand      17  2,054     121
1       England      32  3,793     119
2     Australia      28  3,244     116
3         India      32  3,624     113
4  South Africa      25  2,459      98
5      Pakistan      27  2,524      93
6    Bangladesh      30  2,740      91
7   West Indies      30  2,523      84
8     Sri Lanka      32  2,657      83
9   Afghanistan      17  1,054      62

# b) Top 10 ODI Batters

In [229]:
# Requests to a server
page= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
page

In [230]:
# Page content
soup= BeautifulSoup(page.content)

In [231]:
#Scraping Batters
name= soup.find('div' ,class_="rankings-block__banner--name")
name

In [232]:
# Scraping top 10 batters
player= []
for i in soup.find_all('td' ,class_="table-body__cell name"):
    player.append(i.text.replace("\n",""))
player.insert(0,"Babar Azam")
player= player[:10]
player

['Babar Azam',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'David Warner',
 'Shai Hope',
 'Kane Williamson',
 'Quinton de Kock']

In [233]:
# Scraping Teams
team= []
for i in soup.find_all("span" ,class_="table-body__logo-text"):
    team.append(i.text)
team.insert(0,"PAK")
team= team[:10]
team

['PAK', 'IND', 'IND', 'NZ', 'AUS', 'ENG', 'AUS', 'WI', 'NZ', 'SA']

In [234]:
# Rating
rating= soup.find("div" ,class_="rankings-block__banner--rating")
rating

In [235]:
# Sraping rating of top 10 batters
rating= []
for i in soup.find_all("td" ,class_="table-body__cell u-text-right rating"):
    rating.append(i.text.replace('\n',""))
rating.insert(0,"873")
rating= rating[:10]
rating

['873', '844', '813', '801', '779', '775', '762', '758', '754', '743']

In [236]:
# Checking length
print(len(player), len(team), len(rating))

10 10 10

In [237]:
# Creating DataFrame
mens_odi_batting_rankings= pd.DataFrame({'Player':player, 'Team':team, 'rating':rating})
mens_odi_batting_rankings

            Player Team rating
0       Babar Azam  PAK    873
1      Virat Kohli  IND    844
2     Rohit Sharma  IND    813
3      Ross Taylor   NZ    801
4      Aaron Finch  AUS    779
5   Jonny Bairstow  ENG    775
6     David Warner  AUS    762
7        Shai Hope   WI    758
8  Kane Williamson   NZ    754
9  Quinton de Kock   SA    743

# c) Top 10 ODI Bowlers

In [238]:
# Requests to server
page= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
page

In [240]:
# Page content
soup= BeautifulSoup(page.content)

In [241]:
bowler_name= soup.find('div' ,class_="rankings-block__banner--name-large")
bowler_name

In [242]:
# Scraping top 10 bowlers
bowler_name= []
for i in soup.find_all('td' ,class_="table-body__cell rankings-table__name name"):
    bowler_name.append(i.text.replace('\n',""))
bowler_name.insert(0,'Trent Boult')
bowler_name= bowler_name[:10]
bowler_name

['Trent Boult',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Kagiso Rabada']

In [243]:
# Scraping teams of respective bowlers
team= []
for i in soup.find_all('span' ,class_="table-body__logo-text"):
    team.append(i.text)
team.insert(0,'NZ')
team= team[:10]
team

['NZ', 'AUS', 'AFG', 'ENG', 'BAN', 'NZ', 'IND', 'AUS', 'BAN', 'SA']

In [244]:
# Scraping rating of respective bowlers
rating= []
for i in soup.find_all('td' ,class_="table-body__cell rating"):
    rating.append(i.text)
rating.insert(0, '737')
rating= rating[:10]
rating

['737', '709', '708', '700', '692', '691', '679', '652', '650', '643']

In [245]:
# Finding Length
print(len(bowler_name), len(team), len(rating))

10 10 10

In [246]:
# Creating DataFrame
mens_odi_bowling_rankings= pd.DataFrame({'Player':bowler_name, 'Team':team, 'Rating':rating})
mens_odi_bowling_rankings

             Player Team Rating
0       Trent Boult   NZ    737
1    Josh Hazlewood  AUS    709
2  Mujeeb Ur Rahman  AFG    708
3      Chris Woakes  ENG    700
4      Mehedi Hasan  BAN    692
5        Matt Henry   NZ    691
6    Jasprit Bumrah  IND    679
7    Mitchell Starc  AUS    652
8   Shakib Al Hasan  BAN    650
9     Kagiso Rabada   SA    643

# 6- ICC Women’s Cricket

# a) Top 10 ODI teams

In [247]:
# Requests to server
page= requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
page

In [248]:
# Page content
soup= BeautifulSoup(page.content)

In [249]:
team= soup.find('span' ,class_="u-hide-phablet")
team

In [250]:
# Scraping top 10 teams
team= []
for i in soup.find_all('span' ,class_="u-hide-phablet"):
    team.append(i.text)
team=team[:10]
team

['Australia',
 'South Africa',
 'England',
 'India',
 'Bangladesh',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Ireland',
 'Sri Lanka']

In [251]:
# Scraping Matches
matches=[]
for i in soup.find_all('td' ,class_="table-body__cell u-center-text"):
    matches.append(i.text)
matches= matches[::2]
matches.insert(0,'17')
matches= matches[:10]
matches

['17', '19', '18', '17', '5', '19', '19', '18', '5', '5']

In [252]:
# Scraping Points
points= []
for i in soup.find_all('td' ,class_="table-body__cell u-center-text"):
    points.append(i.text)
points= points[1::2]
points.insert(0, '2,746')
points= points[:10]
points

['2,746',
 '2,307',
 '2,148',
 '1,899',
 '475',
 '1,668',
 '1,658',
 '1,226',
 '240',
 '233']

In [253]:
# Scraping Rating
rating= []
for i in soup.find_all('td' ,class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
rating.insert(0,'162')
rating= rating[:10]
rating

['162', '121', '119', '112', '95', '88', '87', '68', '48', '47']

In [254]:
# Finding Length
print(len(team),len(matches), len(points), len(rating))

10 10 10 10

In [255]:
# Creating DataFrame
top10team_odirankingwomen= pd.DataFrame({'Team':team, 'Matches':matches, 'Points':points, 'Rating':rating})
top10team_odirankingwomen

           Team Matches Points Rating
0     Australia      17  2,746    162
1  South Africa      19  2,307    121
2       England      18  2,148    119
3         India      17  1,899    112
4    Bangladesh       5    475     95
5   New Zealand      19  1,668     88
6   West Indies      19  1,658     87
7      Pakistan      18  1,226     68
8       Ireland       5    240     48
9     Sri Lanka       5    233     47

# b) Top 10 women’s ODI Batting players

In [256]:
# Requests to server
page= requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
page

In [257]:
# Page Content
soup= BeautifulSoup(page.content)

In [258]:
player= soup.find('div' ,class_="rankings-block__banner--name-large")
player

In [259]:
# Scraping top 10 players
players=[]
for i in soup.find_all('td' ,class_="table-body__cell rankings-table__name name"):
    players.append(i.text.replace('\n',""))
players.insert(0, "Lizelle Lee")
players= players[:10]
players

['Lizelle Lee',
 'Alyssa Healy',
 'Mithali Raj',
 'Tammy Beaumont',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Meg Lanning',
 'Beth Mooney',
 'Stafanie Taylor',
 'Heather Knight']

In [260]:
# Scraping teams
team= []
for i in soup.find_all('span' ,class_="table-body__logo-text"):
    team.append(i.text)
team.insert(0,"SA")
team= team[:10]
team

['SA', 'AUS', 'IND', 'ENG', 'NZ', 'IND', 'AUS', 'AUS', 'WI', 'ENG']

In [261]:
# Scraping rating
rating=[]
for i in soup.find_all('td' ,class_="table-body__cell rating"):
    rating.append(i.text)
rating.insert(0, "761")
rating= rating[:10]
rating

['761', '750', '738', '728', '717', '710', '699', '690', '676', '674']

In [262]:
# Finding Length
print(len(players), len(team), len(rating))

10 10 10

In [263]:
# Creating DataFrame 
women_odi_batting_rankings= pd.DataFrame({'Players':players, 'Team':team, 'Rating':rating})
women_odi_batting_rankings

             Players Team Rating
0        Lizelle Lee   SA    761
1       Alyssa Healy  AUS    750
2        Mithali Raj  IND    738
3     Tammy Beaumont  ENG    728
4  Amy Satterthwaite   NZ    717
5    Smriti Mandhana  IND    710
6        Meg Lanning  AUS    699
7        Beth Mooney  AUS    690
8    Stafanie Taylor   WI    676
9     Heather Knight  ENG    674

# c) Top 10 women’s ODI all-rounder

In [264]:
# Requests to server 
page= requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
page

In [265]:
# Page Content
soup= BeautifulSoup(page.content)

In [266]:
# Scraping top 10 all-rounders
players= []
for i in soup.find_all('td' ,class_="table-body__cell rankings-table__name name"):
    players.append(i.text.replace('\n', ""))
players.insert(0, "Marizanne Kapp")
players= players[:10]
players

['Marizanne Kapp',
 'Natalie Sciver',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Hayley Matthews',
 'Jess Jonassen',
 'Katherine Brunt']

In [267]:
# Scraping teams
team= []
for i in soup.find_all('span' ,class_="table-body__logo-text"):
    team.append(i.text)
team.insert(0, "SA")
team= team[:10]
team

['SA', 'ENG', 'AUS', 'WI', 'IND', 'AUS', 'SA', 'WI', 'AUS', 'ENG']

In [268]:
# Scraping rating
rating= []
for i in soup.find_all('td' ,class_="table-body__cell rating"):
    rating.append(i.text)
rating.insert(0, "384")
rating= rating[:10]
rating

['384', '372', '365', '319', '299', '275', '274', '272', '272', '272']

In [269]:
# Finding Length
print(len(players), len(team), len(rating))

10 10 10

In [270]:
# Creating DataFrame
women_odi_allrounders_rankings= pd.DataFrame({'Player':players, 'Team':team, 'Rating':rating})
women_odi_allrounders_rankings

             Player Team Rating
0    Marizanne Kapp   SA    384
1    Natalie Sciver  ENG    372
2      Ellyse Perry  AUS    365
3   Stafanie Taylor   WI    319
4     Deepti Sharma  IND    299
5  Ashleigh Gardner  AUS    275
6  Dane van Niekerk   SA    274
7   Hayley Matthews   WI    272
8     Jess Jonassen  AUS    272
9   Katherine Brunt  ENG    272

# 7- CoreyMS

In [271]:
# Requests to server
page= requests.get("https://coreyms.com/")
page

In [272]:
# page content
soup= BeautifulSoup(page.content)

In [273]:
# Scraping heading
heading= soup.find('a' ,class_="entry-title-link")
heading

<a class="entry-title-link" href="https://coreyms.com/development/python/python-tutorial-zip-files-creating-and-extracting-zip-archives" rel="bookmark">Python Tutorial: Zip Files – Creating and Extracting Zip Archives</a>

In [274]:
heading.text

'Python Tutorial: Zip Files – Creating and Extracting Zip Archives'

In [275]:
# Scraping date
date= soup.find("time", class_= "entry-time")
date

In [108]:
date.text

'November 19, 2019'

In [276]:
# Scraping content
content= soup.find("div", class_="entry-content")
content

<div class="entry-content" itemprop="text">
<p>In this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Let’s get started…<br/></p>
<span class="embed-youtube" style="text-align:center; display: block;"><iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/z0gguhEmWiY?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe></span>
</div>

In [277]:
content.text.replace('\n',"")

'In this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Let’s get started…'

In [278]:
# Scraping Multiple headings 
headings= []
for i in soup.find_all('a' ,class_="entry-title-link"):
    headings.append(i.text)
headings

['Python Tutorial: Zip Files – Creating and Extracting Zip Archives',
 'Python Data Science Tutorial: Analyzing the 2019 Stack Overflow Developer Survey',
 'Python Multiprocessing Tutorial: Run Code in Parallel Using the Multiprocessing Module',
 'Python Threading Tutorial: Run Code Concurrently Using the Threading Module',
 'Update (2019-09-03)',
 'Python Quick Tip: The Difference Between “==” and “is” (Equality vs Identity)',
 'Python Tutorial: Calling External Commands Using the Subprocess Module',
 'Visual Studio Code (Windows) – Setting up a Python Development Environment and Complete Overview',
 'Visual Studio Code (Mac) – Setting up a Python Development Environment and Complete Overview',
 'Clarifying the Issues with Mutable Default Arguments']

In [279]:
# Scraping Multiple dates 
dates= []
for i in soup.find_all("time", class_= "entry-time"):
    dates.append(i.text)
dates

['November 19, 2019',
 'October 17, 2019',
 'September 21, 2019',
 'September 12, 2019',
 'September 3, 2019',
 'August 6, 2019',
 'July 24, 2019',
 'May 1, 2019',
 'May 1, 2019',
 'April 24, 2019']

In [280]:
# Scraping multiple content
content= []
for i in soup.find_all("div", class_="entry-content"):
    content.append(i.text.replace('\n',""))
content

['In this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Let’s get started…',
 'In this Python Programming video, we will be learning how to download and analyze real-world data from the 2019 Stack Overflow Developer Survey. This is terrific practice for anyone getting into the data science field. We will learn different ways to analyze this data and also some best practices. Let’s get started…',
 'In this Python Programming video, we will be learning how to run code in parallel using the multiprocessing module. We will also look at how to process multiple high-resolution images at the same time using a ProcessPoolExecutor from the concurrent.futures module. Let’s get started…',
 'In this Python Programming video, we will be learning how to run threads concurrently using the threading module. We will also look at how to download multiple high-resolution images online using a ThreadPoolExecutor from the concurrent.futures module. Let’s get started…',
 'Hey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then you can expect much faster video releases. I really appreciate how patient everyone has been while I go through this move, especially those of you who are contributing monthly through YouTube ',
 'In this Python Programming Tutorial, we will be learning the difference between using “==” and the “is” keyword when doing comparisons. The difference between these is that “==” checks to see if values are equal, and the “is” keyword checks their identity, which means it’s going to check if the values are identical in terms of being the same object in memory. We’ll learn more in the video. Let’s get started…',
 'In this Python Programming Tutorial, we will be learning how to run external commands using the subprocess module from the standard library. We will learn how to run commands, capture the output, handle errors, and also how to pipe output into other commands. Let’s get started…',
 'In this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on Windows. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…VSCode on MacOS – https://youtu.be/06I63_p-2A4Timestamps for topics in this tutorial: Installation – 1:13 Python Extension – 5:48 Switching Interpreters – 10:04 Changing Color Themes – 12:35 VSCode Settings – 16:16 Set Default Python – 21:33 Using Virtual Environments – 25:10 IntelliSense – 29:45 Code Formatting – 32:13 Code Linting – 37:06 Code Runner Extension – 39:42 Git Integration – 47:44 Use Different Terminal – 51:07 Debugging – 58:45 Unit Testing – 1:03:25 Zen Mode – 1:09:55',
 'In this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on MacOS. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…VSCode on Windows – https://youtu.be/-nh9rCzPJ20Timestamps for topics in this tutorial: Installation – 1:11 Python Extension – 6:21 Switching Interpreters – 10:16 Changing Color Themes – 13:08 VSCode Settings – 17:12 Set Default Python – 22:24 Using Virtual Environments – 25:52 IntelliSense – 30:28 Code Formatting – 33:08 Code Linting – 38:01 Code Runner Extension – 40:45 Git Integration – 49:05 Debugging – 58:15 Unit Testing – 1:02:38 Zen Mode – 1:10:42 ',
 'In this Python Programming Tutorial, we will be clarifying the issues with mutable default arguments. We discussed this in my last video titled “5 Common Python Mistakes and How to Fix Them”, but I received many comments from people who were still confused. So we will be doing a deeper dive to explain exactly what is going on here. Let’s get started…']

In [281]:
# Scraping video link
youtube_link = soup.find("iframe", class_="youtube-player")['src']
youtube_link

'https://www.youtube.com/embed/z0gguhEmWiY?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent'

In [282]:
# Scraping video code 
video_code = youtube_link.split("?")[0].split("/")[-1]

video_code

'z0gguhEmWiY'

In [283]:
video_codes= []
for i in soup.find_all('iframe', class_='youtube-player'):
    video_codes.append(i['src'].split("?")[0].split("/")[-1])
video_codes

['z0gguhEmWiY',
 '_P7X8tMplsw',
 'fKl2JW_qrso',
 'IEEhzQoKtQU',
 'mO_dS3rXDIs',
 '2Fp1N6dof0Y',
 '-nh9rCzPJ20',
 '06I63_p-2A4',
 '_JGmemuINww']

In [284]:
# Finding length
print(len(headings), len(dates), len(content), len(video_codes))

10 10 10 9

In [ ]:
# heading number 5 (update(2019-09-03) do not have any video so no video_code for it)

In [285]:
# Creating DataFrame
df= pd.DataFrame({'Heading':headings, 'Date':dates, 'Content':content})
df

,Heading,Date,Content
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","In this video, we will be learning how to crea..."
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","In this Python Programming video, we will be l..."
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","In this Python Programming video, we will be l..."
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","In this Python Programming video, we will be l..."
4,Update (2019-09-03),"September 3, 2019",Hey everyone. I wanted to give you an update o...
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","In this Python Programming Tutorial, we will b..."
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","In this Python Programming Tutorial, we will b..."
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","In this Python Programming Tutorial, we will b..."
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","In this Python Programming Tutorial, we will b..."
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","In this Python Programming Tutorial, we will b..."

# 8- nobroker.com

In [286]:
page= requests.get("https://www.nobroker.in/property/rent/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciJ9LHsibGF0IjoxMi45MzA3NzM1LCJsb24iOjc3LjU4MzgzMDIsInBsYWNlSWQiOiJDaElKMmRkbFo1Z1ZyanNSaDFCT0FhZi1vcnMiLCJwbGFjZU5hbWUiOiJKYXlhbmFnYXIifSx7ImxhdCI6MTIuOTk4MTczMiwibG9uIjo3Ny41NTMwNDQ1OTk5OTk5OSwicGxhY2VJZCI6IkNoSUp4Zlc0RFBNOXJqc1JLc05URy01cF9RUSIsInBsYWNlTmFtZSI6IlJhamFqaW5hZ2FyIn1d&radius=2.0&sharedAccomodation=0&city=bangalore&locality=Indiranagar,&locality=Jayanagar,&locality=Rajajinagar")
page

In [287]:
soup= BeautifulSoup(page.content)

In [288]:
# Scraping house_titles 
house_title= soup.find('h2' ,class_="heading-6 font-semi-bold nb__25Cl7")
house_title

<h2 class="heading-6 font-semi-bold nb__25Cl7"><span itemprop="name">2 BHK Flat  For Rent  In Stanalone Building In Dcb Bank</span> <svg class="" style="width:24px;height:24px;margin:2px" type="link" viewbox="0 0 24 24"><path class="" d="M18,10.82a1,1,0,0,0-1,1V19a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V8A1,1,0,0,1,5,7h7.18a1,1,0,0,0,0-2H5A3,3,0,0,0,2,8V19a3,3,0,0,0,3,3H16a3,3,0,0,0,3-3V11.82A1,1,0,0,0,18,10.82Zm3.92-8.2a1,1,0,0,0-.54-.54A1,1,0,0,0,21,2H15a1,1,0,0,0,0,2h3.59L8.29,14.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L20,5.41V9a1,1,0,0,0,2,0V3A1,1,0,0,0,21.92,2.62Z" fill="#000000"></path></svg></h2>

In [289]:
house_title.text

'2 BHK Flat  For Rent  In Stanalone Building In Dcb Bank '

In [290]:
# Scraping multiple house title
house_titles= []
for i in soup.find_all('h2' ,class_="heading-6 font-semi-bold nb__25Cl7"):
    house_titles.append(i.text)
house_titles

['2 BHK Flat  For Rent  In Stanalone Building In Dcb Bank ',
 '1 RK Flat  For Rent  In Rajajinagar ',
 '3 BHK Apartment  For Rent  In Santa Clara Apartments In Jayanagar ',
 '2 BHK In Independent House  For Rent  In Jayanagar ',
 '1 BHK In Independent House  For Rent  In Indiranagar ',
 '2 BHK In Independent House  For Rent  In Jayanagar ',
 '2 BHK Apartment  For Rent  In Gokul Lake View Aprtments In Jayanagar ',
 '2 BHK Flat  For Rent  In Prithvi Kunj  In Rajaji Nagar  ',
 '3 BHK Apartment  For Rent  In Team Green Wood Apartment In Indira Nagar ',
 '1 BHK Apartment  For Rent  In Bangalore Apartments In Jayanagar ',
 '4 BHK In Independent House  For Rent  In Btm 1st Stage ',
 '2 BHK In Independent House  For Rent  In 7th Cross Road, Jayanagar ',
 "3 BHK In Independent House  For Rent  In Jayanagar 4th 't' Block ",
 '3 BHK Apartment  For Rent  In Indus Signature In Indiranagar ',
 '2 BHK In Independent House  For Rent  In Jayanagara ',
 '2 BHK In Independent House  For Rent  In Jayanagara 9th Block, Jayanagar ',
 '2 BHK Apartment  For Rent  In Srinivasa Residency In Indiranagar ',
 '1 BHK In Independent House  For Rent  In Tilak Nagar, Jayanagar ',
 '3 BHK Flat  For Rent  In Standalone. Building..... In Jayanagar East ',
 '3 BHK Apartment  For Rent  In Santa Clara Apartments In Jayanagar ',
 '2 BHK Flat  For Rent  In Syed Residency In Jaya Nagar 1st Block, Bairasandra Extension, Jayanagar ',
 '1 RK In Independent House  For Rent  In Indiranagar  ',
 '2 BHK In Independent House  For Rent  In Subramanyanagar, 2nd Stage, Rajajinagar ',
 '3 BHK Flat  For Rent  In Jayanagar ',
 '2 BHK Flat  For Rent  In Srinidi Nilaya In Indira Nagar ']

In [291]:
# Scraping location
location= soup.find('div', class_="nb__1EwQz")
location

In [292]:
location.text

'no 715 2 nd main d block rajaji nagar 2nd state near Dcb bank  raj kumar road '

In [300]:
# Scraping multiple location
locations= []
for i in soup.find_all('div', 'nb__1EwQz'):
    locations.append(i.text)
locations

['no 715 2 nd main d block rajaji nagar 2nd state near Dcb bank  raj kumar road ',
 'Standalone Building, 2nd Block, near O.G. Variar and Sons, Variar Bakery',
 'Santa Clara Apartments\xa0 3rd Rd Cross Rd, 5T Block, Marenahalli, Jayanagar, Bengaluru, Karnataka 560041, India',
 "Independent House, D'mart ,RBI Colony , Jayanagar, Bengaluru, Karnataka 560011",
 'Independent House, Near Hotel Ragavendra',
 'Independent House, Near Jayanagar Orthopaedic Centre,3rd Cross Rd, K V Layout, LIC Colony, Jayanagar 3rd Block East, Jayanagar, Bengaluru-560011',
 'Gokul Lake View Aprtments\xa0 110/18, 19th Cross Road, Yediyur, Jayanagar, Bengaluru, Karnataka 560070, India',
 '2nd Block,near Rajajinagar Post Office',
 'Team Green Wood Apartment\xa0 3rd Main Rd, Indira Nagar 1st Stage, H Colony, Indiranagar, Bengaluru, Karnataka 560038, India',
 'Bangalore Apartments\xa0 Ganesha temple',
 'Independent House, near Jayadeva hospital',
 'Independent House, near Ashoka Pillar, 2nd Block Jayanagar ',
 'Independent House, 20th main',
 'Indus Signature\xa0 Indus Signature, Eshwara Layout, Indiranagar, Bengaluru, Karnataka 560008, India',
 'Independent House,  9th Block , near Hotel siddique',
 'Independent House, hotel siddique',
 'Srinivasa Residency\xa0 HAL 2nd Stage, near Khivraj Bajaj - Indiranagar',
 'Independent House, besides Balamuri Ganapathi Temple,',
 'BDA shopping complex',
 'Santa Clara Apartments\xa0 Marenahalli, Jayanagar, Bengaluru, Karnataka 560041, India',
 'Cake Paradise, 5th Main Road, Canara Bank Colony, LIC Colony, Jayanagar 3rd Block East, Jaya Nagar, Bengaluru, Karnataka, India',
 'Independent House, Chinmaya Mission Hospital Rd,  Stage 1, indira nagar metro station ',
 'Independent House, 18TH MAIN, A BLOCK SUBRAMANYA NAGAR ',
 'Standalone Building, 31st cross 2nd main 7th Block  Jaynagar',
 '18th b main road']

In [293]:
# Scraping area
area= soup.find('div' ,class_="nb__FfHqA")
area

In [294]:
area.text

'1,400 sqft'

In [295]:
# Scraping multiple area's
area= []
for i in soup.find_all('div' ,class_="nb__FfHqA"):
    area.append(i.text)
area

['1,400 sqft',
 '250 sqft',
 '1,400 sqft',
 '1,000 sqft',
 '324 sqft',
 '800 sqft',
 '1,532 sqft',
 '950 sqft',
 '1,648 sqft',
 '500 sqft',
 '2,250 sqft',
 '1,050 sqft',
 '2,400 sqft',
 '1,652 sqft',
 '850 sqft',
 '550 sqft',
 '1,050 sqft',
 '450 sqft',
 '2,400 sqft',
 '1,647 sqft',
 '1,000 sqft',
 '350 sqft',
 '800 sqft',
 '2,000 sqft',
 '1,580 sqft']

In [296]:
# Scraping EMI
emi= soup.find('div' ,class_="nb__27aDo")
emi

<div class="nb__27aDo">₹ 17,000<!-- --> +<span class="nb__2uIga"><div><span class="nb__2KN_6">₹ 500 Maintenance</span><img alt="maintenance" class="nb__1cqDQ" src="https://assets.nobroker.in/nb-new/public/Property-Details/maintenance.svg"/></div></span></div>

In [297]:
emi.text

'₹ 17,000 +₹ 500 Maintenance'

In [298]:
# Scraping multiple EMI's
emi= []
for i in soup.find_all('div' ,class_="nb__27aDo"):
    emi.append(i.text)
emi

['₹ 17,000 +₹ 500 Maintenance',
 '₹ 6,000 +₹ 500 Maintenance',
 '₹ 27,000 +₹ 3,000 Maintenance',
 '₹ 21,000No Extra Maintenance',
 '₹ 10,000 +₹ 200 Maintenance',
 '₹ 23,000No Extra Maintenance',
 '₹ 25,000 +₹ 4,500 Maintenance',
 '₹ 25,000 +₹ 2,000 Maintenance',
 '₹ 46,000No Extra Maintenance',
 '₹ 17,000 +₹ 3,000 Maintenance',
 '₹ 45,800 +₹ 1,200 Maintenance',
 '₹ 20,500No Extra Maintenance',
 '₹ 85,000No Extra Maintenance',
 '₹ 37,000 +₹ 6,500 Maintenance',
 '₹ 20,000No Extra Maintenance',
 '₹ 16,000No Extra Maintenance',
 '₹ 24,000 +₹ 2,000 Maintenance',
 '₹ 9,000No Extra Maintenance',
 '₹ 36,000No Extra Maintenance',
 '₹ 30,000 +₹ 3,000 Maintenance',
 '₹ 23,000No Extra Maintenance',
 '₹ 20,000No Extra Maintenance',
 '₹ 17,000No Extra Maintenance',
 '₹ 35,000No Extra Maintenance',
 '₹ 29,000No Extra Maintenance']

In [ ]:
# price???

In [301]:
# Finding length 
print(len(house_titles), len(locations), len(area), len(emi))

25 25 25 25

In [302]:
# Creating DataFrame
df= pd.DataFrame({'House Title':house_titles, 'Location': locations, 'Area':area, 'EMI':emi})
df

,House Title,Location,Area,EMI
0,2 BHK Flat For Rent In Stanalone Building In...,no 715 2 nd main d block rajaji nagar 2nd stat...,"1,400 sqft","₹ 17,000 +₹ 500 Maintenance"
1,1 RK Flat For Rent In Rajajinagar,"Standalone Building, 2nd Block, near O.G. Vari...",250 sqft,"₹ 6,000 +₹ 500 Maintenance"
2,3 BHK Apartment For Rent In Santa Clara Apar...,"Santa Clara Apartments 3rd Rd Cross Rd, 5T Bl...","1,400 sqft","₹ 27,000 +₹ 3,000 Maintenance"
3,2 BHK In Independent House For Rent In Jayan...,"Independent House, D'mart ,RBI Colony , Jayana...","1,000 sqft","₹ 21,000No Extra Maintenance"
4,1 BHK In Independent House For Rent In Indir...,"Independent House, Near Hotel Ragavendra",324 sqft,"₹ 10,000 +₹ 200 Maintenance"
5,2 BHK In Independent House For Rent In Jayan...,"Independent House, Near Jayanagar Orthopaedic ...",800 sqft,"₹ 23,000No Extra Maintenance"
6,2 BHK Apartment For Rent In Gokul Lake View ...,"Gokul Lake View Aprtments 110/18, 19th Cross ...","1,532 sqft","₹ 25,000 +₹ 4,500 Maintenance"
7,2 BHK Flat For Rent In Prithvi Kunj In Raja...,"2nd Block,near Rajajinagar Post Office",950 sqft,"₹ 25,000 +₹ 2,000 Maintenance"
8,3 BHK Apartment For Rent In Team Green Wood ...,"Team Green Wood Apartment 3rd Main Rd, Indira...","1,648 sqft","₹ 46,000No Extra Maintenance"
9,1 BHK Apartment For Rent In Bangalore Apartm...,Bangalore Apartments Ganesha temple,500 sqft,"₹ 17,000 +₹ 3,000 Maintenance"
10,4 BHK In Independent House For Rent In Btm 1...,"Independent House, near Jayadeva hospital","2,250 sqft","₹ 45,800 +₹ 1,200 Maintenance"
11,2 BHK In Independent House For Rent In 7th C...,"Independent House, near Ashoka Pillar, 2nd Blo...","1,050 sqft","₹ 20,500No Extra Maintenance"
12,3 BHK In Independent House For Rent In Jayan...,"Independent House, 20th main","2,400 sqft","₹ 85,000No Extra Maintenance"
13,3 BHK Apartment For Rent In Indus Signature ...,"Indus Signature Indus Signature, Eshwara Layo...","1,652 sqft","₹ 37,000 +₹ 6,500 Maintenance"
14,2 BHK In Independent House For Rent In Jayan...,"Independent House, 9th Block , near Hotel sid...",850 sqft,"₹ 20,000No Extra Maintenance"
15,2 BHK In Independent House For Rent In Jayan...,"Independent House, hotel siddique",550 sqft,"₹ 16,000No Extra Maintenance"
16,2 BHK Apartment For Rent In Srinivasa Reside...,"Srinivasa Residency HAL 2nd Stage, near Khivr...","1,050 sqft","₹ 24,000 +₹ 2,000 Maintenance"
17,1 BHK In Independent House For Rent In Tilak...,"Independent House, besides Balamuri Ganapathi ...",450 sqft,"₹ 9,000No Extra Maintenance"
18,3 BHK Flat For Rent In Standalone. Building....,BDA shopping complex,"2,400 sqft","₹ 36,000No Extra Maintenance"
19,3 BHK Apartment For Rent In Santa Clara Apar...,"Santa Clara Apartments Marenahalli, Jayanagar...","1,647 sqft","₹ 30,000 +₹ 3,000 Maintenance"
20,2 BHK Flat For Rent In Syed Residency In Jay...,"Cake Paradise, 5th Main Road, Canara Bank Colo...","1,000 sqft","₹ 23,000No Extra Maintenance"
21,1 RK In Independent House For Rent In Indira...,"Independent House, Chinmaya Mission Hospital R...",350 sqft,"₹ 20,000No Extra Maintenance"
22,2 BHK In Independent House For Rent In Subra...,"Independent House, 18TH MAIN, A BLOCK SUBRAMAN...",800 sqft,"₹ 17,000No Extra Maintenance"
23,3 BHK Flat For Rent In Jayanagar,"Standalone Building, 31st cross 2nd main 7th B...","2,000 sqft","₹ 35,000No Extra Maintenance"
24,2 BHK Flat For Rent In Srinidi Nilaya In Ind...,18th b main road,"1,580 sqft","₹ 29,000No Extra Maintenance"

# 9- dineout.co.in

In [303]:
# Requests to server
page= requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
page

In [304]:
# Page content 
soup= BeautifulSoup(page.content)

In [305]:
# Scraping Restaurant name
name=soup.find('div', class_='restnt-info cursor')
name

<div class="restnt-info cursor" data-gatype="RestaurantNameClick"><a analytics-action="RestaurantCardClick" analytics-label="86792_Castle Barbeque" class="restnt-name ellipsis" data-w-onclick="sendAnalyticsCommon|w1-restarant" href="/delhi/castle-barbeque-connaught-place-central-delhi-86792">Castle Barbeque</a><div class="restnt-loc ellipsis" data-w-onclick="stopClickPropagation|w1-restarant"><a data-name="Connaught Place" data-type="LocalityClick" href="/delhi-restaurants/central-delhi/connaught-place">Connaught Place</a>, <a data-name="Central Delhi" data-type="AreaClick" href="/delhi-restaurants/central-delhi">Central Delhi</a></div></div>

In [306]:
name.text

'Castle BarbequeConnaught Place, Central Delhi'

In [307]:
# Scraping Cuisine
cuisine= soup.find('span', class_='double-line-ellipsis')
cuisine

<span class="double-line-ellipsis"><span>₹ 2,000 for 2 (approx)</span><span> | </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/chinese-cuisine">Chinese</a><span>, </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/north-indian-cuisine">North Indian</a></span>

In [308]:
cuisine.text.split()[6]

'Chinese,'

In [309]:
# Scraping Location
location= soup.find('div',class_='restnt-loc ellipsis')
location

<div class="restnt-loc ellipsis" data-w-onclick="stopClickPropagation|w1-restarant"><a data-name="Connaught Place" data-type="LocalityClick" href="/delhi-restaurants/central-delhi/connaught-place">Connaught Place</a>, <a data-name="Central Delhi" data-type="AreaClick" href="/delhi-restaurants/central-delhi">Central Delhi</a></div>

In [310]:
location.text

'Connaught Place, Central Delhi'

In [311]:
# Scraping rating
rating= soup.find('div',class_='restnt-rating rating-4')
rating

In [312]:
rating.text

'3.5'

In [313]:
# Scraping multiple names 
names= []
for i in soup.find_all('div',class_='restnt-info cursor'):
    names.append(i.text)
names

['Castle BarbequeConnaught Place, Central Delhi',
 'Jungle Jamboree3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Castle BarbequePacific Mall,Tagore Garden, West Delhi',
 'Cafe KnoshThe Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'The Barbeque CompanyGardens Galleria,Sector 38A, Noida',
 'India GrillHilton Garden Inn,Saket, South Delhi',
 'Delhi BarbequeTaurus Sarovar Portico,Mahipalpur, South Delhi',
 'The Monarch - Bar Be Que VillageIndirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'World CafeVibe by The Lalit Traveller,Sector 35, Faridabad',
 'Indian Grill RoomSuncity Business Tower,Golf Course Road, Gurgaon',
 'Mad 4 Bar B QueSector 29, Faridabad',
 'Barbeque 29NIT, Faridabad',
 'GlasshouseDoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [314]:
# Scraping multiple cuisine
Cuisine= []
for i in soup.find_all('span', class_='double-line-ellipsis'):
    Cuisine.append(i.text.split()[6])
Cuisine

['Chinese,',
 'Barbecue,',
 'Chinese,',
 'Multi-Cuisine,',
 'Barbecue,',
 'North',
 'Barbecue,',
 'North',
 'North',
 'North',
 'North',
 'North',
 'Multi-Cuisine,']

In [315]:
# Scraping multiple location
locations= []
for i in soup.find_all('div', class_='restnt-loc ellipsis'):
    locations.append(i.text)
locations

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Vibe by The Lalit Traveller,Sector 35, Faridabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon',
 'Sector 29, Faridabad',
 'NIT, Faridabad',
 'DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [316]:
# Scraping multiple rating
ratings= []
for i in soup.find_all('div',class_='restnt-rating rating-4'):
    ratings.append(i.text)
ratings

['3.5',
 '3.9',
 '4',
 '4.3',
 '4',
 '3.9',
 '3.7',
 '3.9',
 '4.2',
 '4.3',
 '3.7',
 '4.3',
 '4.1']

In [317]:
# Scraping multiple images
images= []
for i in soup.find_all('img', class_='no-img'):
    images.append(i['data-src'])
images

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/a/k/p59633-16046474755fa4fa33c0e92.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/v/p406-163401663361651d79326d0.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/q/d/p79307-16051787075fad15532bd7c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/y/p549-15143767525a438e30b3e19.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/e/p43488-15295778165b2b8158ceeef.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/f/p9875-16057921085fb6716cc44f8.jpg?tr=tr:n-medium']

In [318]:
# Finding length
print(len(names),len(locations),len(Cuisine),len(ratings),len(images))

13 13 13 13 13

In [319]:
# Creating DataFrame
df= pd.DataFrame({'Restaurants Names':names, 'Cuisine':Cuisine, 'Locations':locations,'Ratings':ratings, 'Images_URL':images })
df

,Restaurants Names,Cuisine,Locations,Ratings,Images_URL
0,"Castle BarbequeConnaught Place, Central Delhi","Chinese,","Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","Barbecue,","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","Chinese,","Pacific Mall,Tagore Garden, West Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
3,"Cafe KnoshThe Leela Ambience Convention Hotel,...","Multi-Cuisine,","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","Barbecue,","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,"India GrillHilton Garden Inn,Saket, South Delhi",North,"Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","Barbecue,","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,North,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
8,"World CafeVibe by The Lalit Traveller,Sector 3...",North,"Vibe by The Lalit Traveller,Sector 35, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
9,"Indian Grill RoomSuncity Business Tower,Golf C...",North,"Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,"Mad 4 Bar B QueSector 29, Faridabad",North,"Sector 29, Faridabad",3.7,https://im1.dineout.co.in/images/uploads/resta...
11,"Barbeque 29NIT, Faridabad",North,"NIT, Faridabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
12,GlasshouseDoubleTree By Hilton Gurugram Baani ...,"Multi-Cuisine,","DoubleTree By Hilton Gurugram Baani Square,Sec...",4.1,https://im1.dineout.co.in/images/uploads/resta...

# 10- bewakoof.com

In [320]:
# Requests to a server 
page= requests.get('https://www.bewakoof.com/women-tshirts?ga_q=tshirts')
page

In [321]:
# page content
soup= BeautifulSoup(page.content)

In [322]:
# Scraping price
price= soup.find('span', class_="discountedPriceText")
price

In [323]:
price.text

'₹ 199'

In [324]:
# Scraping multiple product price
Price= []
for i in soup.find_all('span', class_='discountedPriceText'):
    Price.append(i.text)
Price

['₹ 199',
 '₹ 149',
 '₹ 549',
 '₹ 199',
 '₹ 199',
 '₹ 999',
 '₹ 199',
 '₹ 349',
 '₹ 249',
 '₹ 249']

In [325]:
# Scraping images
images= []
for i in soup.find_all('img',class_='productImgTag'):
    images.append(i['src'])
images

['https://images.bewakoof.com/t320/believe-in-miracles-half-sleeve-t-shirt-bold-red-women-s-half-sleeve-printed-t-shirt-286440-1600698999.jpg',
 'https://images.bewakoof.com/t320/proud-to-be-indian-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-276436-1595823765.jpg',
 'https://images.bewakoof.com/t320/all-we-have-half-sleeve-t-shirt-meteor-grey-women-s-half-sleeve-printed-t-shirt-287646-1601034494.jpg',
 'https://images.bewakoof.com/t320/stay-classy-minnie-half-sleeve-printed-t-shirts-dl-women-s-half-sleeve-printed-t-shirt-367242-1625470443.jpg',
 'https://images.bewakoof.com/t320/hotter-than-hell-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-291787-1603126208.jpg',
 'https://images.bewakoof.com/t320/jerry-relax-half-sleeve-printed-t-shirt-tjl-navy-blue-women-s-half-sleeve-printed-t-shirt-295661-1603697818.jpg',
 'https://images.bewakoof.com/t320/sweet-sass-half-sleeve-t-shirt-dl-women-s-half-sleeve-printed-t-shirt-390752-1629266399.jpg',
 'https://images.bewakoof.com/t320/more-reasons-boyfriend-t-shirt-women-s-printed-boyfriend-t-shirts-390632-1629185213.jpg',
 'https://images.bewakoof.com/t320/the-chibi-cat-half-sleeve-printed-t-shirt-women-s-half-sleeve-printed-t-shirt-364771-1624277530.gif',
 'https://images.bewakoof.com/t320/daffy-awesome-half-sleeve-t-shirt-ltl-women-s-half-sleeve-printed-t-shirt-276664-1595675945.jpg']

In [326]:
# Scraping Product Name
Name= soup.find('div', class_="productCardDetail")
Name

<div class="productCardDetail"><div><h3 id="">Believe In Miracles Half Sleeve T-Shirt Bold Red</h3></div><div class="productPriceBox clearfix"><span class="discountedPriceText">₹ <b>199</b></span><span class="actualPriceText">549</span><span class="sellingFastBox"></span><div class="loyaltyPriceBox"><h6><b>₹<!-- -->179</b>For TriBe Members</h6></div> </div></div>

In [327]:
Name.text

'Believe In Miracles Half Sleeve T-Shirt Bold Red₹ 199549₹179For TriBe Members '

In [328]:
# Scraping multiple names
names= []
for i in soup.find_all('div', class_="productCardDetail"):
    names.append(i.text)
names

['Believe In Miracles Half Sleeve T-Shirt Bold Red₹ 199549₹179For TriBe Members ',
 'Proud To Be Indian Half Sleeve T-Shirt - Bold Red₹ 149499₹129For TriBe Members ',
 'All We Have Half Sleeve T-Shirt Meteor Grey₹ 549FEW LEFT₹479For TriBe Members ',
 'Stay Classy Minnie Half Sleeve Printed T-shirt (DL)₹ 199799₹179For TriBe Members ',
 'Hotter Than Hell Half Sleeve T-shirt₹ 199599₹179For TriBe Members ',
 'Jerry Relax Half Sleeve Printed T-Shirt (TJL) Navy Blue₹ 999FEW LEFT₹879For TriBe Members ',
 'Sweet Sass Half Sleeve T-shirt (DL)₹ 199799₹179For TriBe Members ',
 'More Reasons Boyfriend T-shirt₹ 349799₹319For TriBe Members ',
 'The Chibi Cat Half Sleeve Printed T-Shirt₹ 249799₹229For TriBe Members ',
 'Daffy Awesome Half Sleeve T-Shirt (LTL)₹ 249549FEW LEFT₹229For TriBe Members ']

In [329]:
# Checking length
print(len(Price), len(images), len(names))

10 10 10

In [330]:
# Creating DataFrame
df= pd.DataFrame({'Name': names, 'Price':Price, 'Images':images})
df

,Name,Price,Images
0,Believe In Miracles Half Sleeve T-Shirt Bold R...,₹ 199,https://images.bewakoof.com/t320/believe-in-mi...
1,Proud To Be Indian Half Sleeve T-Shirt - Bold ...,₹ 149,https://images.bewakoof.com/t320/proud-to-be-i...
2,All We Have Half Sleeve T-Shirt Meteor Grey₹ 5...,₹ 549,https://images.bewakoof.com/t320/all-we-have-h...
3,Stay Classy Minnie Half Sleeve Printed T-shirt...,₹ 199,https://images.bewakoof.com/t320/stay-classy-m...
4,Hotter Than Hell Half Sleeve T-shirt₹ 199599₹1...,₹ 199,https://images.bewakoof.com/t320/hotter-than-h...
5,Jerry Relax Half Sleeve Printed T-Shirt (TJL) ...,₹ 999,https://images.bewakoof.com/t320/jerry-relax-h...
6,Sweet Sass Half Sleeve T-shirt (DL)₹ 199799₹17...,₹ 199,https://images.bewakoof.com/t320/sweet-sass-ha...
7,More Reasons Boyfriend T-shirt₹ 349799₹319For ...,₹ 349,https://images.bewakoof.com/t320/more-reasons-...
8,The Chibi Cat Half Sleeve Printed T-Shirt₹ 249...,₹ 249,https://images.bewakoof.com/t320/the-chibi-cat...
9,Daffy Awesome Half Sleeve T-Shirt (LTL)₹ 24954...,₹ 249,https://images.bewakoof.com/t320/daffy-awesome...